[2020-06-18 06:39] smcmurtry opened #34 "Debug menu option to change "monitoring" to "exposed" is very flaky"
<img width="561" alt="Screen Shot 2020-06-18 at 12 35 51 AM" src="https://user-images.githubusercontent.com/5498428/84986389-b947ed00-b0fb-11ea-9887-ac65ddbfa0e2.png">

Clicking the menu option to change "monitoring" to "exposed" works about half the time on a real iphone, and never on the ios simulator. Maybe some kind of async issue? Not sure. The relevant code is here: https://github.com/cds-sn

[2020-06-18 22:01] maxneuvians opened #41 "Translate documentation in accordance with CDS internal guidelines"
Documentation for the application needs to be available in both official languages.

[2020-06-19 15:50] RByers opened #71 "Add design principles?"
Thanks so much for iterating on CovidShield in public, the transparency is awesome!

I find the [original rationale document](https://github.com/CovidShield/rationale/blob/master/README.md) to be helpful in understanding the design priorities. As an eventual user who is a software developer, understanding the principles behind the app design is important to me. But it would also be important for a

[2020-06-19 21:37] smcmurtry opened #76 "Close drawer after submitting code"
This should be closed automatically:
<img width="556" alt="Screen Shot 2020-06-19 at 3 36 15 PM" src="https://user-images.githubusercontent.com/5498428/85181283-bc99c080-b242-11ea-874b-fd75f5d242b4.png">

[2020-06-19 21:47] smcmurtry opened #77 "Move province/territory selection after onboarding"

[2020-06-19 21:53] smcmurtry opened #78 "Turn on Bluetooth button doesn't work"
If bluetooth is turned off globally, the button should take you to the correct screen to turn it on.

[2020-06-19 21:56] smcmurtry opened #79 "Debug menu: create a way to get to "diagnosed, x days later" state"
This will give us a way to work on this page.

[2020-06-20 02:03] obrien-j opened #81 "Background Task elevated priority not using .exposure-notification special terminator"
Just flagging this as it came up in the Shopify channel about potentially not leveraging one of the elevated priority flags for background tasks.

Might be worth running this by Apple to ensure we're leveraging the tooling they provide effectively.

https://github.com/cds-snc/covid-shield-mobile/blob/2e6dc8f776a625024a0f1aad68861a281959ec72/ios/CovidShield/Info.plist#L7

https://developer.apple.co

[2020-06-20 10:34] #77 closed

[2020-06-20 21:50] ChrisDryden commented on #78
I was doing some research into the linking to the bluetooth page and came across some projects that opened up the right links for bluetooth:

This is the line that needs to be changed: https://github.com/cds-snc/covid-shield-mobile/blob/cb3f1a75492e368eb390d2c4b61574c9757d19a5/src/screens/home/views/BluetoothDisabledView.tsx#L11

Heres an example for IOS: https://github.com/rjblopes/react-native-d

[2020-06-20 22:05] timarney commented on #78
Nice, thanks so much for looking into this for us.

[2020-06-21 00:08] timarney commented on #78
Was looking at the use of `App-prefs:root=Bluetooth`

And not sure if it's still the case but it might get rejected.

https://developer.apple.com/forums/thread/100471

[code]

<img width="920" alt="Screen Shot 2020-06-20 at 8 04 41 PM" src="https://user-images.githubusercontent.com/62242/85213804-6fe0e300-b331-11ea-9b12-ba53d0ffcf48.png">

[2020-06-21 00:22] timarney commented on #78
https://github.com/CovidShield/mobile/issues/125#issuecomment-647055105

Found this note

[code]

https://github.com/c19354837/react-native-system-setting/blob/master/iOS.md#ios

<img width="984" alt="Screen Shot 2020-06-20 at 8 19 39 PM" src="https://user-images.githubusercontent.com/62242/85213978-7e2ffe80-b333-11ea-882b-c99ea877190f.png">

[2020-06-21 00:24] ChrisDryden commented on #78
It appears on iOS it will not be possible to open up the bluetooth settings, we will just have to have a link saying enable bluetooth.

[2020-06-21 00:45] timarney commented on #78
@smcmurtry

Via @Stephen-PM

[2020-06-21 00:53] ChrisDryden commented on #78
The main issue apart from this which was referenced in the link earlier is that there is actually no check for if bluetooth in enabled anywhere. The closest thing I could find was this which appears to be compatible with iOS and allows you to perform the switch for android too.
https://github.com/solinor/react-native-bluetooth-status

[2020-06-21 00:53] timarney commented on #71
cc:

@sboots
@Stephen-PM

[2020-06-21 01:03] timarney commented on #78
https://github.com/cds-snc/covid-shield-mobile/blob/5c36b2582eb4e60963e991fce97d772c03880e20/ios/CovidShield/ExposureNotification.m#L98

[2020-06-21 01:12] ChrisDryden commented on #78
My apologies, I am fairly new to objective c, I thought that this was a case switch for an not yet completed function but I now see this is being returned by the native exposure notification system.

I couldn't find an equivalent of that case in the android portion. I am new to that syntax in objective c but it appears to me that this case switch can't distinguish the case where it's inactive and

[2020-06-21 01:14] timarney commented on #78
No worries - we're all getting up to speed on the codebase :)

And yes sounds like that's the case.

[2020-06-21 02:13] timarney commented on #71
Thanks for reaching out @RByers I've noted this to some CDS folks and we'll see what they come back with :)

@katewilhelm

[2020-06-21 05:30] ChrisDryden commented on #78
Added a PR with a potential solution to the bluetooth status check and the ability to change the bluetooth settings in app for android ^

Also attaching this issue from CovidShield here for reference: https://github.com/CovidShield/mobile/issues/121

[2020-06-21 08:20] timarney opened #91 "Use device locale"
It appears that the app will always default to English.

Need to look into use the device language.

This link mentions using React "Native Modules"
https://stackoverflow.com/questions/33468746/whats-the-best-way-to-get-device-locale-in-react-native-ios

[code]

It appears that's no longer available in iOS 13

https://github.com/facebook/react-native/issues/26606

The suggested workaround is:

[co

[2020-06-21 08:29] timarney commented on #79
@maxneuvians @dsamojlenko

I would like to get away from using the debug menu.  My concern is we end up getting the app into states that the real app can't end up in.

It would be nice if we can hit the api via a terminal command via curl request to

- Trigger push Notifications
- Exposure state (re-confirm state)

[2020-06-21 08:36] timarney opened #92 "Ensure province and language choices persist"
When you close the app and re-open it doesn't remember the province you selected.

@Stephen-PM reported the same to be true for the language toggle

**Ref:** TestFlight 6.0

[2020-06-21 08:51] timarney opened #93 "Enter code -> submit -> don't agree and close shows wrong screen"
After submitting a successful code if the user doesn't agree on the next screen and instead closes the menu via sliding the menu(s) / pages down or via the cancel button the wrong page is displayed

Steps to reproduce

- Enter a code + submit
- Either slide down the menu or press cancel

![cancel-flow](https://user-images.githubusercontent.com/62242/85399584-0e816580-b525-11ea-9ff7-efb1e65176b1.gi

[2020-06-21 09:22] timarney opened #95 "Ensure flow for turning on / off the API + bluetooth is working."
We need to do a review of the flow and the different combinations of
- blue tooth on/off & EN/ on/off

I have a PR here - https://github.com/cds-snc/covid-shield-mobile/pull/88

and

@ChrisDryden has a separate PR here https://github.com/cds-snc/covid-shield-mobile/pull/90 that

<hr>

Via
@Stephen-PM

**Ref:** TestFlight 6.0

[2020-06-21 09:25] timarney commented on #34
https://github.com/cds-snc/covid-shield-mobile/issues/79#issuecomment-647097217

[2020-06-21 10:15] timarney opened #96 "Language & Province drawer menu selection"
When selecting a language or a province the menu "auto" closes and slides back up.

![bottom-menu](https://user-images.githubusercontent.com/62242/85222011-73528980-b386-11ea-986b-e12ad16783b1.gif)

[2020-06-21 10:19] timarney commented on #91
Upstream issue here:
https://github.com/CovidShield/mobile/issues/111

[2020-06-21 10:24] timarney commented on #96
We're using the initial province select from upstream + have added to the drawer menu (https://github.com/cds-snc/covid-shield-mobile/issues/96#issue-642535054)

Also here:

<img width="250" alt="Screen Shot 2020-06-21 at 6 21 45 AM" src="https://user-images.githubusercontent.com/62242/85222255-b5c89600-b387-11ea-98e3-4ca34d16f164.png">

Noting the upstream.

**Upstream**
https://github.com/CovidS

[2020-06-21 10:28] timarney opened #97 "Landscape mode"
Noting for a11y this happening upstream and we should discuss as well.

https://github.com/CovidShield/mobile/issues/11

[2020-06-21 10:38] timarney commented on #95
Per https://github.com/CovidShield/mobile/issues/114

We need to coordinate with @dsamojlenko on Monday to get a build with entitlements pushed up.

[2020-06-21 11:11] henrytao-me commented on #78
Ref https://github.com/cds-snc/covid-shield-mobile/issues/78

[2020-06-21 11:19] timarney commented on #95
https://github.com/CovidShield/mobile/issues/137

https://github.com/CovidShield/mobile/issues/125#issuecomment-647113522

[2020-06-21 13:23] timarney opened #98 "Design + content"
The screen design(s) + content are still in motion until early next week.

Adding this here as there is no need to flag those issues until the screens get "really" implemented.

[2020-06-21 13:36] timarney commented on #93
Need to confirm if this is a bug

[2020-06-21 17:25] henrytao-me commented on #96
<img src="https://user-images.githubusercontent.com/5274722/85231122-aa469080-b3c2-11ea-9287-0d6087aedea9.gif" width="240" />

<img src="https://user-images.githubusercontent.com/5274722/85231125-aca8ea80-b3c2-11ea-80c3-f97b7068e8ec.gif" width="240" />

[2020-06-21 17:38] timarney commented on #93
Need to check this on a newer build but here's the flow.  Ignore the bug on the final screen but here the flow.

Submit a code -> don't agree.  Either cancel or slide the panels down.

<img src="https://user-images.githubusercontent.com/62242/85231191-30fb6d80-b3c3-11ea-9bae-ea15721853bf.gif">

[2020-06-21 17:41] henrytao-me commented on #96
I cannot find iOS 13.5.1 for some reason, still updating my Xcode and verify again. I will move to other ticket for now.

[2020-06-21 19:51] timarney commented on #96
@henrytao-me

Tried on my device via TestFlight with the Covid Shield app as well.

![shield](https://user-images.githubusercontent.com/62242/85233769-e5eb5580-b3d6-11ea-96e7-a268ca67d646.gif)

[2020-06-21 20:41] timarney commented on #96
Tested via the Android simulator.  The click result is slow and the menu flashes.

@jeffmaher can you maybe confirm on a device?

![android](https://user-images.githubusercontent.com/62242/85234766-cd326e00-b3dd-11ea-8b86-bd8e07addc06.gif)

[2020-06-21 22:20] jeffmaher commented on #96
Still waiting on device to arrive in the mail. Will try if it arrives tomorrow, although I think @dsamojlenko might have snagged one today.

[2020-06-21 22:21] smcmurtry commented on #78
We've removed the bluetooth button since it isn't actually possible to direct the user to the global bluetooth settings page on ios. Instead we have this screen now:

<img width="413" alt="Screen Shot 2020-06-21 at 4 19 46 PM" src="https://user-images.githubusercontent.com/5498428/85236426-087f6d80-b3db-11ea-896a-f555252338ef.png">

[2020-06-21 22:21] #78 closed

[2020-06-21 22:43] timarney commented on #95
We'll pull the upstream for Android when it's ready.

[2020-06-21 22:44] timarney commented on #92
We need to test with with the next TestFlight build.

@smcmurtry

[2020-06-21 23:23] #95 closed

[2020-06-22 11:46] timarney commented on #92
Fixed in
**Ref: T**estFlight 7.0

[2020-06-22 11:46] #92 closed

[2020-06-22 11:55] timarney commented on #91
@Stephen-PM if this doesn't get fixed upstream can we mark this to be handled in a v2 release?

[2020-06-22 12:00] timarney commented on #96
@Stephen-PM we're trying to confirm why we're seeing this and @henrytao-me using our version isn't.

[2020-06-22 12:03] timarney commented on #93
@Stephen-PM -> @henrytao-me mentioned they we're talking about this issue upstream.  We'll look to coordinate our efforts to get this fix in.

[2020-06-22 15:16] timarney commented on #97
Will revisit.

[2020-06-22 15:16] #97 closed

[2020-06-22 15:19] #98 closed

[2020-06-22 15:20] timarney commented on #79
Will revisit.

[2020-06-22 15:20] #79 closed

[2020-06-22 15:21] timarney commented on #34
Will revisit

[2020-06-22 15:21] #34 closed

[2020-06-22 18:23] RByers commented on #71
Thanks. Or maybe I'm just confused on the relationship between the two projects? When I wrote this I assumed this project largely superseded the CovidShield one, but now I see some patches are continuing to land upstream. So maybe the relationship could just be clarified so interested folks like me know where to watch?

[2020-06-22 19:16] timarney commented on #71
For clarity - the National app will be released with the code / content from this repo.  We will continue to pull upstream changes from the Covid Shield app i.e. for bug fixes.

[2020-06-22 23:43] smcmurtry opened #107 "Keyboard not dismissed after typing in code"
Reference to https://github.com/CovidShield/mobile/issues/141

[2020-06-23 11:47] timarney commented on #93
![cancel-flow](https://user-images.githubusercontent.com/62242/85399584-0e816580-b525-11ea-9ff7-efb1e65176b1.gif)

[2020-06-23 14:28] smcmurtry opened #115 "Remove flags from province/territory selector"

[2020-06-23 15:39] sidbmw opened #117 "Is there an apk to test this?"
Hi, I was wondering if there's an apk that we can run on Android to test out without having to build it ourselves.

[2020-06-24 10:05] henrytao-me commented on #91
Merged!

[2020-06-24 10:14] #115 closed

[2020-06-24 10:18] timarney commented on #91
Thanks @henrytao-me will hopefully get this pulled back today.

[2020-06-24 10:18] #91 closed

[2020-06-24 11:18] timarney commented on #93
@katewilhelm @Stephen-PM

Going to close this as https://github.com/CovidShield/mobile/issues/145#issuecomment-648517627

The upstream UI is changing flow see https://github.com/CovidShield/mobile/issues/149

Our v1 which we have fully implemented yet is already quite different

<img width="300" alt="Screen Shot 2020-06-24 at 7 14 05 AM" src="https://user-images.githubusercontent.com/62242/8554585

[2020-06-24 11:18] #93 closed

[2020-06-24 19:09] smcmurtry commented on #107
closed by https://github.com/cds-snc/covid-shield-mobile/pull/148

[2020-06-24 19:09] #107 closed

[2020-06-24 19:13] timarney commented on #96
Fixed upstream :)

[2020-06-24 19:13] #96 closed

[2020-06-24 22:38] timarney commented on #117
Not yet

[2020-06-24 22:38] #117 closed

[2020-06-25 00:06] #41 closed

[2020-06-25 04:12] Stephen-PM opened #161 "Continues to say "Notifications are OFF" after turning it on"
The app continues to say "Notifications are off" after turning it on. The button in the menu to turn on notifications goes away after turning it on.'

![image](https://user-images.githubusercontent.com/63243608/85652268-36cda900-b678-11ea-80c1-eb7dd80dd733.png)

[2020-06-25 11:56] Stephen-PM opened #164 "Missing the prompt from iOS to turn on notifications"
Expected behavior: after onboarding the system prompts the user to turn on logging and then another prompt to turn on notifications.

Actual behavior: after onboarding the system prompts the user to turn on logging. The user is never prompted to turn on notifications. The menu panel indicates that notifications are off.

This has been tested on iOS, not Android.

[2020-06-25 13:42] timarney commented on #161
https://github.com/CovidShield/mobile/pull/160

[2020-06-25 19:19] smcmurtry opened #172 "App crashes after selecting french on the 1st onboarding screen"

[2020-06-25 19:19] timarney commented on #161
Closed https://github.com/cds-snc/covid-shield-mobile/pull/170

There's another case we need to look into - what happens if after the "happy path" the user turns off notifications manually.

Closing this as it handles the flow described.

[2020-06-25 19:19] #161 closed

[2020-06-25 19:20] timarney commented on #172
I think this is a missing strings bug

[2020-06-25 20:01] qanitah opened #175 "Incorrect reading order with VoiceOver on"
While VoiceOver is on and the user keeps flicking right to go item by item, some order is not correct on the first 4 screens of the app.

- after tab 2, right flick takes the user back to tab 1
- after tab 4, user goes to tab 3

The user should be able to go on all screens in order and all content should be announced.

iOS 13.5.1 on iPhone 7

[2020-06-25 20:21] paulettefrancis opened #176 "Heading levels are not identified"
Using VoiceOver screen reader

Headings should be marked up using levels such as Heading level 1, level 2, etc. on all pages.

The screen reader only reads "Heading" and not the level. Only the first heading is read.

![Screenshot 2020-06-25 at 4 06 56 PM](https://user-images.githubusercontent.com/22638158/85791004-27de0980-b6ff-11ea-8cbb-7ae314f9dbe3.png)

iOS XR version 13.5.1

[2020-06-25 20:53] smcmurtry commented on #172
Yes this was fixed by #174

[2020-06-25 20:53] #172 closed

[2020-06-26 10:56] timarney commented on #161
https://github.com/CovidShield/mobile/issues/163

[2020-06-26 11:01] timarney opened #184 "Upstream Issues"
Adding this to avoid overlap between this repo and upstream.

**Note:** Synced to 155

Issue(s) upstream that need to be contributed to as far as fixes (PRs), comments, testing etc..

**Issue**
Tap on turn on notification does nothing if user block notification in settings on iOS
https://github.com/CovidShield/mobile/issues/163

**Status**
(i.e has PR, merged etc...)

<hr>

**Issue**
iOS: with ent

[2020-06-26 12:02] JuliannaR opened #185 "Cannot scan nav items in "tap for menu" when VO is on"
**Scenario to reproduce**

When VO is on and you tap to open the menu within the Shield VO cannot scan the elements, you need to know exactly where to tap to find items like language, province change, etc.

**Expected result**

VO should be able to scan all elements when dragging a finger (gesture) on points on the screen.

**Bug or issue / WCAG**

2.5.1: Pointer Gestures
[https://www.w3.org/WAI/W

[2020-06-26 12:12] JuliannaR opened #186 "Cannot close the shield when VO is on"
**Scenario to reproduce**

Then the shield is open you cannot double tap on the arrow in the right corner to close, no gesture allows you to change screens. Tapping near the arrow opens the how it works screens.

**Expected result**

To be able to close the shield and return to the content underneath.

**Bug or issue / WCAG**

2.5.1: Pointer Gestures
[https://www.w3.org/WAI/WCAG21/Understanding/po

[2020-06-26 15:16] mmiron-HC opened #190 "Share your device's random ids message is displayed in En when in Fr (iOS)"
iPhone XR version 13.5.1
Province = Ontario
Bluetooth and Notifications are on
language = French

From the menu, selected the Diagnosed with COVID19?
Entered valid 8 digit code (valid)
clicked Submit
Share your device's random ids with COVID Alert? pop up appears.
Expected result - pop up should be in French.
![Share_pop up_msg EN](https://user-images.githubusercontent.com/65728700/85872900-65de3a

[2020-06-26 16:13] qanitah opened #197 "Unable to open menu items with VoiceOver on"
While VoiceOver is on and the user is not able to open menu options "Tap for menu". It takes the user to "enter your 8-digit number" screen.

It should take user to the menu.

iOS 13.5.1 on iPhone 7

![covidalert2](https://user-images.githubusercontent.com/14280062/85878240-6549a200-b7a6-11ea-8b36-be2a0f07b8b4.jpg)
![covidalert3](https://user-images.githubusercontent.com/14280062/85878241-65e23880

[2020-06-26 17:35] paulettefrancis opened #207 "Unable to access 2 links when swiping in VO"
Swipe in VO.

Should be able to access "francais" and "next" at the bottom of the pages.

On the set of Onboarding pages, starting with "What COVID Alert does", when swiping in VO, "francais" and "next" are not accessible as it goes to the next page in the set automatically when swiping after the last item.

iPhone XR 13.5.1

[2020-06-26 19:29] srepussard opened #209 "Missing padding on top of "No 8-digit number?" page"
Environments :
Galaxy S7 Android v6 on BrowserStack (apk)

Scenario :
- Open app
- Open "Covid alert is off" menu
- Click on "Diagnosed with covid-19?"
- Click on "No 8-digit number?"

Issue :
Seems like some padding is missing on the top of the screen so it looks like the "back" button is touching the notification bar of the phone

![bs_realdroid_Mobile_Samsung Galaxy S7-6 0-1440x2560](https://us

[2020-06-26 19:32] paulettefrancis opened #211 "The focus goes to the previous page when swiping with VO"
Swipe in VO.

When swiping on the "What COVID Alert does not do", the focus goes to the previous page when you get to the bottom of the page.

It should to to "Back" and then "Next" (this issue has been reported).

iPhone XR 13.5.1

[2020-06-26 19:36] srepussard opened #212 "Rotate screen - Menu is off center and cannot scroll"
Environments :
Android v6 on Galaxy S7 (BrowserStack, apk)

Scenario :
- Open app on phone
- Open Covid Alert menu
- Rotate phone to horizontal position

Issue :
Menu is off-center on the screen and we cannot scroll to the bottom of the menu so cannot access the rest of the functionalities

![bs_realdroid_Mobile_Samsung Galaxy S7-6 0-1440x2560 (1)](https://user-images.githubusercontent.com/4700829

[2020-06-26 19:44] srepussard opened #213 "FR "No 8-digit number" link is left centered"
Environments :
Android v6 on Galaxy S7 (Browserstack, apk)

Scenario :
- Open app
- Change language to FR
- Navigate to "Enter your 8-digit number" screen

Issue :
The link for FR "No 8-digit number" is left centered instead of being in the center of the screen like for the ENG screen

![bs_realdroid_Mobile_Samsung Galaxy S7-6 0-1440x2560 (2)](https://user-images.githubusercontent.com/47008295/858

[2020-06-26 19:51] paulettefrancis commented on #211
Since I'm unable to edit this issue, please note this is happening on the set of pages as well as sub-pages.

[2020-06-26 19:55] qanitah opened #215 "Unable to use 2-fingers-up gesture on some screens to read full page from top when VoiceOver on"
While VoiceOver is on and 2 fingers up gesture is used to read the page from top, it doesn't work for most screens. When 2 fingers are flicked up on a screen, it should read all content on the page, starting from top.

It seems to work on screens that don't have the "COVID Alert" image on top of the page.

Please see screenshots of one screen where it works and one where it doesn't.
iOS 13.5.1 on

[2020-06-26 20:26] qanitah opened #217 ""No" is read as "number" with VoiceOver"
A couple of screens where it says "No 8-digit number?", VoiceOver reads "No" as "number". So it reads "Number 8-digit number" which is incorrect.

iOS 13.5.1 on iPhone 7

![covidalert7](https://user-images.githubusercontent.com/14280062/85898101-a7380f80-b7c9-11ea-9bd2-e1eb88a095f6.jpg)
![covidalert6](https://user-images.githubusercontent.com/14280062/85898103-a7d0a600-b7c9-11ea-9cf7-ceb4b2144226.

[2020-06-27 11:38] mmiron-HC commented on #212
iPhone XR has the same issue.

[2020-06-27 11:44] timarney opened #228 "Remove share button functionality and module"
We've made the decision to remove the share button functionality at this time.

The button is already removed but the module needs to be removed as well.

[2020-06-27 11:45] mmiron-HC opened #229 "Bluetooth off - heading is missing the accents on the E - FR (iOS)"
iPhone XR
Bluetooth = OFF
language = French

The word DÉSACTIVÉ in the heading is missing the accents on the És.
looks like there may be something overlapping them.

![bluetooth_off_FR missing accents](https://user-images.githubusercontent.com/65728700/85921409-36850780-b84a-11ea-8b12-2376eaf8c508.jpg)

[2020-06-27 12:04] mmiron-HC opened #231 "Bluetooth not disabling when done via Control Center menu (iOS)"
iPhone XR
Bluetooth settings is ON
Open Control Center, disable Bluetooth
return to the app, open menu, no Bluetooth warning message appears.

Expected behaviour is that disabling Bluetooth via control Center should trigger the message in the app.

![bluetooth_off_control center](https://user-images.githubusercontent.com/65728700/85921745-70570d80-b84c-11ea-87fc-7f7e1e7739ed.png)
![COVIDAlert_no b

[2020-06-27 12:16] mmiron-HC commented on #231
this is as designed.
When you disable the Bluetooth via  the Control Center  and go in settings you will see that Bluetooth is still on, the Control Center only disconnects all Bluetooth devices, it actually doesn't shut off Bluetooth. So its not a bug

[2020-06-27 12:16] #231 closed

[2020-06-27 14:28] mmiron-HC opened #233 "Notification prompt is displayed in English (iOS)"
iPhone 8
French
Just downloaded the app, went through the onboarding (no province selected). chose to enable the COVID-19 Exposure logging.
focus is returned to the home screen. tapped to open the menu.
Clicked the turn on notification from menu.
prompt is displayed in English. see screenshot.
Expected result: prompt should be in French.
![Notification prompt_EN ](https://user-images.githubusercon

[2020-06-27 15:45] timarney commented on #184
@CalvinRodo @dsamojlenko @jeffmaher

I'll cherry pick this in later.

Needs to go in with

https://github.com/cds-snc/covid-shield-mobile/pull/232
&
https://github.com/cds-snc/covid-shield-mobile/pull/230

https://github.com/CovidShield/mobile/pull/164

Before the next push to Google play.

[2020-06-27 16:10] mmiron-HC opened #234 "Missing padding next to > for Exposure notification button (iOS/Android)"
both iPhone Xr and Galaxy S8+ (android version 9)
French
Exposure notifications = Off
app Home screen shows the Exposure notification button. the text seems to be overlapping with the > image.
![Samsung_spacing on button](https://user-images.githubusercontent.com/65728700/85926681-0d2aa280-b86f-11ea-817f-fdf16d1bc7d0.jpg)
![iphone_notification spacing issues](https://user-images.githubusercontent.

[2020-06-27 16:20] mmiron-HC opened #235 "Word wrapping - "Précédent" button on "How COVID Alert works" in FR - (iOS/Android)"
both iPhone 8 and galaxy S8+ (v9) have this issue.
language = French
from the menu, selected the "How COVID Alert works" option.
Clicked Next
the word "Précédent" wraps and it shouldn't
![word wrapping Galaxy8](https://user-images.githubusercontent.com/65728700/85926915-92fb1d80-b870-11ea-96ee-8329bd85d3a7.jpg)
![text wrapping_iphone8](https://user-images.githubusercontent.com/65728700/85926916-93

[2020-06-27 16:58] mmiron-HC opened #237 "Enable COVID-19 Exposure prompt displayed in EN when in FR (iOS)"
iPhone XR and iPhone 8
Newly download.
Selected FR as language and went through the onboarding screens - clicked done.
From where are you located - I clicked Skip
prompted with the Enable COVID-19 Exposure Logging and notification pop up Text displayed is EN.
Expected result: should be in FR.
![iphone_Enable Expo prompt in EN](https://user-images.githubusercontent.com/65728700/85927724-eae85300-b8

[2020-06-27 20:00] CalvinRodo opened #240 "Android Splash Screen is still Covid Shield (Android)"
When starting the latest Android build the splash screen still displays as "Covid Shield" (Version 14)

[2020-06-28 02:45] qanitah opened #247 "Page not read properly by TalkBalk [Android]"
A few issues with COVID Alert menu.

1) TalkBack is not reading all content on the page. Tried with "Read from top" and tried to flick item by item.
Highlighted text in yellow is not read.

2) The page doesn't scroll up automatically when the screen reader when TalkBack reaches the bottom of the visual page.

3) Content below is not read by TalkBack(highlighted in yellow), unless the user is at th

[2020-06-28 02:52] qanitah commented on #176
This is also for Android with TalkBack. It announces only "heading heading" for the top heading on the page. Other headings on the pages are not marked as headings (only a few have more headings).

Tested with Samsung Android version 8.1.0

[2020-06-28 03:34] qanitah opened #249 "Provinces/language are read as radio buttons with VoiceOver and TalkBack"
Provinces and language pages are read as radio buttons with both VoiceOver and TalkBack while they're not visually radio buttons. When radio buttons are done, they announce radio button # of 13 or # of 2 but they're not. These shouldn't be coded as radio buttons

Android 8.1.0 on Samsung
iOS 13.5.1 on iPhone 7

![1](https://user-images.githubusercontent.com/14280062/85937030-c324d980-b8cd-11ea-85b

[2020-06-28 03:59] qanitah opened #250 "Pages not marked consistently on Android and iOS"
Closing a window is not marked consistently with same value. Close, Back and Cancel are used. Cancel seems OK depending on the page. But Close and Back seem to have very similar meanings. Pages should have same value (should be consistent).

Android has a back arrow on all screens but it reads different values that iOS has written out. It should be consistently identified.

Android 8.1.0 on Samsun

[2020-06-28 11:04] mmiron-HC opened #252 "Submit button enabled for Android on "Enter your 8-digit number" window"
Android v9
Samsung Galaxy S8+
both languages
From menu, under the Diagnosed with COVID-19 section press the Enter number button
From the Enter your 8-digit number window, press again Enter number button
the Enter your 8-digit number window appears.
Submit is enabled. Click Submit - error message appears.
According to Julianna, this behaviour should be the same as iOS. Submit button should be disab

[2020-06-28 12:28] #229 closed

[2020-06-28 12:46] sarasuri opened #253 "Delay in rendering screens when rotating (Android)"
Scenario

Samsung Galaxy J3 Prime
Android version 7.0

When rotates the device between portrait/landscape orientation there is a delay in screen rendering before it goes to the proper screen display.

Screenshots
![landscape](https://user-images.githubusercontent.com/12256067/85947907-854ea200-b91b-11ea-8837-1c8b0cb8cebb.gif)
![port](https://user-images.githubusercontent.com/12256067/85947910-87b0

[2020-06-28 12:53] sarasuri commented on #176
Scenario

Samsung Galaxy J3 Prime
Android version 7.0

With Talkback on, it announces the top level heading (h1) as "heading heading" on the screens not the level of the heading.

Expected result
It should identify the heading levels.

WCAG
https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships

[2020-06-28 13:03] mmiron-HC opened #254 "Menu: Exposure Notifications are off messages for Android and iOS are different"
iPhone Xr and Samsung Galaxy S8+ (Android v9)
Exposure Notifications are off
Notifications are off

open the menu, the message is different for Exposure notifications in the iphone vs Android.
they should be the same.
![iphone_menu_ExpNotif off](https://user-images.githubusercontent.com/65728700/85947971-fdb56300-b91b-11ea-9ed5-9b6185dccc8e.png)
![Android_Menu_expNotifications off](https://user-im

[2020-06-28 13:05] mmiron-HC opened #255 "Menu: Change Province or territory in FR is incorrect"
iphone 8/XR and samsung Galaxy S8+
in French
open menu
the label for the Change province or territory in french should be "Modifier la province ou le territoire" (as per figma)
![image](https://user-images.githubusercontent.com/65728700/85948353-71586f80-b91e-11ea-991f-7010027fc0b2.png)

[2020-06-28 13:26] sarasuri opened #256 "French text is not read properly (Android)"
Scenario

Samsung Galaxy J3 Prime
Android version 7.0

With Talkback on, on the "Join the effort to slow the spread" screen, text “Français" is read as English text with English accent/pronunciation.

Expected result
“Français" should be read as French text.

WCAG
https://www.w3.org/WAI/WCAG21/Understanding/language-of-parts

Screenshots
![french](https://user-images.githubusercontent.com/12256067

[2020-06-28 13:32] mmiron-HC opened #257 "Menu: Android does not display notifications are off when COVID Alert is OFF"
Android v9 and 8
samsung Galaxy S8+ and OnePlus 7
- COVID-19 Exposure logging = off
- Bluetooth : Off
- Notifications : Off

1. Install the app for the first time
2. Navigate through the Onboarding screens until the Enable COVID-19 exposure logging and notifications is displayed.
3. Click Don't Enable
4. Verify that the menu displays the following messages:
EN: COVID Alert is OFF and Notifications

[2020-06-28 13:56] sarasuri opened #258 "List is not coded as a list (Andriod)"
Scenario
Samsung Galaxy J3 Prime
Android version 7.0

With Talkback on, on the “Totally Anonymous” screen, some content (highlighted in the screenshot) visually appears to be a list but Talkback doesn’t read it as a list.

Expected result
Content should be read as a list.

WCAG
https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships

Screenshots
![list](https://user-images.githubusercon

[2020-06-28 15:02] mmiron-HC opened #259 "Home and Menu: Exposure message disappears - reappears (Android v 8 - OnePlus 3)"
onePlus 3 Android version 8
Bluetooth = Off
Exposure notifications = off
notifications = off
New download on of the latest apk - dated June 27
No province selected
Home screen initially displays the Exposure messages are off with the button to turn off notifications. Menu also shows the message (turn on exposure notifications).
If I close the app and re-open it, i see the red button appear briefly

[2020-06-28 16:37] mmiron-HC commented on #259
I was able to retest this scenario using another OnePlus 6 android version 9 and it doesn't even load the Turn on exposure notifications button or the screen it goes directly to the No exposure detected screen.

[2020-06-28 17:01] mmiron-HC opened #263 "Screens with multiple pages - FR - have incorrect wording at the bottom (iOS 1.0 (9))"
in FR, just downloaded the new version of the app 1.0 (9)
Step 1 of 5 is listed at the bottom of the french screen.
![onboarding_step in EN](https://user-images.githubusercontent.com/65728700/85953575-6cf07e80-b93f-11ea-923a-98dbdfb52da5.jpg)

should be Étape 1 de 5
![image](https://user-images.githubusercontent.com/65728700/85953552-34e93b80-b93f-11ea-9aaa-b7b51a5338fb.png)

the issue is appearin

[2020-06-28 19:10] Stephen-PM commented on #76
The menu should retract after completing an action, like entering a key or turning on notifications.

[2020-06-28 22:18] qanitah opened #268 "List is not announced as list with VoiceOver"
VoiceOver doesn't announce that this is a list (highlighted in screenshot). It should say "list start" and "list end". VoiceOver should also say "bullet" for each list item but instead it says "unpronounceable, black circle" for each bullet.

iOS 13.5.1 on iPhone 7

![7](https://user-images.githubusercontent.com/14280062/85959661-af2fb500-b96b-11ea-9a6d-a765559dfd03.jpg)

[2020-06-28 22:55] qanitah opened #269 "Content not announced with VoiceOver and some announced from screen behind"
1) VoiceOver is not announcing the "close button". The focus on the top seems to be on the COVID Alert image in the background. Double tapping on this closes the COVID Alert. See screenshot 1.

2) After this, the focus goes to content behind the screen and it announces those items from the behind the screen. User is not able to access other items on this screen with VoiceOver. The screenshot 2 has

[2020-06-29 01:52] srepussard opened #271 "Menu "Push notifications are off" tile does not redirect anywhere"
Environment :
Pixel 3XL - Android v9 (BrowserStack), version v14

Scenario :
- Make sure your phone has push notifications turned off for the app
- Open the app
- Open the menu

Issue :
There is a tile "Push notifications are off" with an arrow on it indicating that clicking on this tile would redirect users somewhere but I cannot click on it (nothing happens on click). Not sure if this tile was s

[2020-06-29 02:13] srepussard opened #272 "Missing padding on top of screens for "How COVID Alert works""
Environment :
Pixel 3XL, Android v9 (BrowserStack), version v14

Scenario :
- Open app
- Open menu and click on "How COVID Alert works"

Issue :
The 6 screens of this section are missing padding on top of the screen : the "back" arrow button is too close to the top and everytime I click on it, I click on the notification bar at the same time

![bs_realdroid_Mobile_Google Pixel 3 XL-9 0-1440x2960 (

[2020-06-29 02:33] srepussard opened #273 ""Share your random codes" notification - Screen in background on infinite load state"
Environment :
Pixel 3XL, Android v9 (BrowserStack), version v14

Scenario :
- Go to Enter you code screen from the menu
- Enter a 8-digit code and submit
- Click on "Agree" on the upload code screen

Expected :
A notification about "share you random codes" is displayed on top of the upload code screen

Issue :
The screen in the background of the notification is on an infinite load state

![bs_real

[2020-06-29 02:58] sarasuri opened #274 "8-digit code is not displayed on the screen as users type (Android)"
Scenario to reproduce
Samsung Galaxy J3 Prime
Android version 7.0
Display orientation: Landscape

When users try to enter an 8-digit code on the “Enter your 8-digit number” screen in landscape orientation the number is not displayed on the screen as the users type. They can only see what they entered after pressing on the “Done” button.

Expected result
Users should be able to see the numbers they

[2020-06-29 11:14] mmiron-HC opened #275 "COVID Alert icon is different between Android vs iPhone (newest version)"
installed newest iOS version 1.0(9) along with the newest apk provided.
Samsumg Galaxy S8+ vs iPhone XR and 8
the icon before the COVID Alert text at the top of the page is different across the different phones.

![icon is dif](https://user-images.githubusercontent.com/65728700/85997835-0a978c80-b9d8-11ea-9a96-c86db73340fc.jpg)
according to figma screens, it should be the one off of iPhone.

[2020-06-29 11:53] #275 closed

[2020-06-29 11:53] mmiron-HC commented on #275
not the right .apk

[2020-06-29 12:19] sarasuri opened #276 "No focus on the 8-digit code form field (Android)"
Scenario to reproduce
Samsung Galaxy J3 Prime
Android version 7.0

When users touch down on the form field to enter an 8-digit code on the “Enter your 8-digit number” screen there is no focus on the field.

Expected result
The form field should given focus for users to see where they are.

"WCAG
https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html

Screenshots

![focus](https://user-imag

[2020-06-29 15:13] JuliannaR commented on #268
Crossed with https://github.com/cds-snc/covid-shield-mobile/issues/258

[2020-06-29 15:15] JuliannaR commented on #274
Considerations for known issues around orientation.
Connected upstream to https://github.com/CovidShield/mobile/issues/11

[2020-06-29 15:16] JuliannaR commented on #269
Linked to this issue upstream https://github.com/CovidShield/mobile/issues/39

[2020-06-29 15:17] JuliannaR commented on #256
@katewilhelm @timarney can you confirm this has been removed?

[2020-06-29 15:19] JuliannaR commented on #253
connected to this issue upstream https://github.com/CovidShield/mobile/issues/11

[2020-06-29 16:33] qanitah opened #281 "Focus does not land at the right location (top of the screen) with VoiceOver on"
With VoiceOver on, some pages don't have the focus on top of the page when the user taps on a button. Instead, the focus is somewhere middle of the page on the following screen.

Please see screenshots of "From" screen to where the focus starts on and then see "To" screen to see where the focus lands on. Focus should always start on top of the page.

iOS 13.5.1 on iPhone 7

![9a](https://user-imag

[2020-06-29 17:45] mmiron-HC opened #285 "How COVID Alert works: Heading on subsequent slides are missing (FR)"
confirmed in iOS and Android.
Language = French
Viewing the How COVID Alert works link (from either the Onboarding slides or from the Menu)
navigate to 2nd step - note that the english contains a heading on subsequent step indicating the step they are on.
FR does not.
see screenshot
![image](https://user-images.githubusercontent.com/65728700/86038211-91fff280-ba0e-11ea-9d49-4635ae922afe.jpg)

[2020-06-29 17:50] mmiron-HC commented on #272
Samsung Galaxy S8+
arrow cannot to return. it is buried under the clock
![Android_return arrow How it works](https://user-images.githubusercontent.com/65728700/86038759-71846800-ba0f-11ea-8074-9f174dce6d38.jpg)

[2020-06-29 17:57] katewilhelm commented on #256
I know the intention is to remove it but not sure where actually removing it falls in priorities

[2020-06-29 18:57] jeberhardt opened #286 ""region" is hardcoded to "ON""
In the file "BackendService.ts", in "getExposureConfiguration()", the value "region" is hardcoded as a _const_ to be "ON".

[2020-06-29 19:32] paulettefrancis opened #287 "An empty\blank focus needs to be removed in VO"
Swiping using VO in iOS.

When swiping on the "How it works" onboarding page, there is an empty\blank focus that needs to be removed.

iPhone XR 13.5.1

![Snap3](https://user-images.githubusercontent.com/22638158/86047795-751eeb80-ba1d-11ea-9859-10d3e210d1b0.jpg)

[2020-06-29 19:41] sarasuri opened #290 "Text "Step of" and Skip are in English"
Samsung Galaxy J3 Prime
Android version 7.0

Text “Step of" is in English on the French screens. Further, on the Step 6 screen, text "Skip" is in English.

Expected result
The text should be in French.

WCAG
https://www.w3.org/WAI/WCAG21/Understanding/language-of-parts

Screenshots
![text](https://user-images.githubusercontent.com/12256067/86048690-ee6b0e00-ba1e-11ea-80c2-2b2268969f0b.gif)
![skip]

[2020-06-29 19:45] paulettefrancis opened #291 "Focus doesn't go to the top of the page using VO in iOS"
When landing on the "Where do you live" page, the focus goes to "New Brunswick" instead of to the top of the page.

iPhone XR 13.5.1

![image](https://user-images.githubusercontent.com/22638158/86048905-31c57c80-ba1f-11ea-8c7a-2bcc4906a9f4.png)

[2020-06-29 20:08] paulettefrancis opened #292 "Page isn't read properly using VO in iOS"
When reading using VoiceOver, "COVID Alert" (Tap for menu) from the "No exposure detected" page, it doesn't read the "menu" page, but reads what's underneath.

iPhone XR 13.5.1

![image](https://user-images.githubusercontent.com/22638158/86050898-84ecfe80-ba22-11ea-9af6-48bcd5a7ff05.png)

[2020-06-30 12:03] jelen-HC opened #302 ""Upload new random codes" screen spelling error - v9 EN"
Minor issue/fix; in the second sentence, "about" is currently spelt "abouot". This was seen in version 9, so I am not sure if this has been fixed yet. Will have to put a code into the new version and wait until the next day to test this again.

[2020-06-30 12:26] JuliannaR commented on #186
Cross linked to https://github.com/CovidShield/mobile/issues/169

[2020-06-30 12:26] JuliannaR commented on #186
Cross linked to https://github.com/CovidShield/mobile/issues/170

[2020-06-30 12:27] JuliannaR commented on #185
Cross linked to CovidShield/mobile#170

[2020-06-30 12:45] katewilhelm commented on #302
@jelen-HC Can you please share a bit more about which screen this is on? Perhaps a screen shot? Or a description of the steps you took before you saw it? Thank you!

[2020-06-30 12:56] jelen-HC commented on #302
@katewilhelm I do not have a screen shot of this unfortunately and am not able to take one since I have already chosen the option to upload the new codes.

Yesterday afternoon I entered one of the new exposure codes and followed the steps to have the home screen change to the "Thanks for helping fight COVID" message; "For the next 14 days, you'll get a daily notification asking permission to uploa

[2020-06-30 12:57] katewilhelm commented on #302
Excellent thank you!

[2020-06-30 13:20] jelen-HC commented on #272
I am having the same issue on the Samsung Galaxy S6. I just tested this after the latest apk release this morning and am unable to interact with the top left back button due to it being to close to the device status bar.

[2020-06-30 13:28] sarasuri opened #304 "Steps are not announced by Talkback (Android)"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0

Step 1 to 6 screens after splash screen

While Talkback on, using “Read from top” from “Global Context menu” Talkback starts reading from the top of the screen and moves to each step automatically and continue reading. However, it doesn’t announce what step it is reading. At the end of the step 6, it announces “Step 1 of 6 and “Ne

[2020-06-30 14:08] katewilhelm commented on #302
Fixed English in pull request #306. @EliseKa can you please check that the French is up to date? This screen has gone through many iterations. I'll tag you in figma on the one we need

[2020-06-30 14:25] katewilhelm commented on #302
this is how it should look <img width="573" alt="Screen Shot 2020-06-30 at 10 24 36 AM" src="https://user-images.githubusercontent.com/57191279/86138091-fcbb3780-babb-11ea-9d6e-669058c524c0.png">

[2020-06-30 14:46] obrien-j opened #307 "BVC-57 : downloadDiagnosisKeysFile -- Resource leakage"
"The issue was discovered through code inspection of the android native(kotlin) soure code that's responsible for downloading the diagnosis file from the server.

Class: CovidShieldModule, Method: downloadDiagnosisKeysFile.

The socket related resource associated with the ResponseBody object will not be released when the HTTP response code is not equal to 200 as an IOException will be thrown for t

[2020-06-30 15:17] timarney commented on #237
Will need to confirm once this PR is merged

https://github.com/cds-snc/covid-shield-mobile/pull/311

[2020-06-30 15:22] jelen-HC opened #313 "Airplane mode iOS - When airplane mode is on, the main page says COVID Alert is offline, but there is faint white text under the message - v11"

[2020-06-30 15:30] timarney commented on #76
https://github.com/CovidShield/mobile/issues/175

[2020-06-30 15:31] jelen-HC commented on #313
Also with airplane mode active on the main screen where it displays "COVID Alert is offline" - "COVID Alert only checks for exposure if your phone is connected to the Internet" there is white text just below this content that can barely be seen displaying "Last checked 1 minute ago" (or when ever the last time it was checked). Either needs text colour change or be removed I would imagine.

[2020-06-30 15:47] smcmurtry commented on #253
We locked to portrait mode in #297

[2020-06-30 15:47] #253 closed

[2020-06-30 15:49] srepussard opened #316 ""Turn on exposure notifications" prompt not displayed when using swipe"
Environment :
Pixel 3a, Android 10, apk v15.a

Scenario :
- Install the app
- From onboarding screens, navigate to the screen "The app will now ask your permission"
- Don't click on "Next" but swipe left to get to the next screen

Expected :
The screen "Choose your province or territory" should be displayed with a prompt on top asking you to turn on exposure notifications

Issue :
The prompt is no

[2020-06-30 15:54] smcmurtry commented on #274
We locked to portrait mode in #297

[2020-06-30 15:54] #274 closed

[2020-06-30 16:00] sarasuri opened #317 "Content is not read in correct order when moving from screen 4 to 5 with Talkback"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0

Step 1 to 6 screens after splash screen

While Talkback is on, swiping right to move to next element on the screens from Step 1, Talkback moves to each screen and continue reading. When it moves to step 5 screen “The app will now ask your permission”, it announces “The app uses Bluetooth to exchange random …” which is from the pre

[2020-06-30 16:16] srepussard opened #319 ""Push notifications for COVID Alert" not showing at all on Android"
Environment :
Pixel 3a, Android 10, apk v15-a

Scenario :
- Install the app
- Navigate the onboarding screens until "Choose your province" screen
- Click on "Turn on" for the "Turn on exposure notifications" prompt

Expected :
A second prompt to allow "Push notifications for COVID Alert" should have been displayed

Issue :
The prompt for "Push notifications for COVID Alert" never showed up on Andr

[2020-06-30 16:20] timarney commented on #319
@dsamojlenko
Possibly related?
https://github.com/CovidShield/mobile/issues/114#issuecomment-642954453

[2020-06-30 16:35] srepussard opened #320 "Select province screen - Missing part of ENG content"
Environment :
Pixel 3a, Android 10, apk v15-a

Scenario :
- Set language as ENG
- From the menu, select "Change province"

Expected :
Content above selector should be :
"Choose the province or territory whose public health guidance you need to follow.
This information is only stored on your phone and will never be shared with anyone"

Issue :
For the ENG language screens, the first paragraph is mi

[2020-06-30 16:41] srepussard opened #321 "Missing padding above "Back" button on FR "How COVID Alert works" screens"
Environment :
Pixel 3a, Android 10, apk v15-a

Scenario :
- From onboarding, select FR language
- Navigate to the "Fonctionnement" screen and click on the link "En savoir plus sur le fonctionnement"

Issue :
Missing padding above "Back" button on FR "How COVID Alert works" screens. This hinders users from clicking on the button as it's too close to the notification bar.
Note that this is only happ

[2020-06-30 16:43] smcmurtry commented on #319
I think this is getting set in the background without the need for a popup. Correct me if I'm wrong @henrytao-me.

[2020-06-30 16:44] smcmurtry commented on #316
Closed by #310

[2020-06-30 16:44] #316 closed

[2020-06-30 16:57] #302 closed

[2020-06-30 16:58] srepussard opened #322 "Extra padding in Menu when "Notifications are off""
Environment :
Pixel 3a, Android 10, apk v15-a

Scenario :
- Set your notifications as OFF
- Open app

Issue :
There seems to be an extra padding in the menu on both expanded and collapsed state. See screenshots.
Note that this is not happening when "Notifications are on"

![Screenshot_20200630-091035](https://user-images.githubusercontent.com/47008295/86154636-31c58b00-bab8-11ea-82bf-6c1c21d28e51.

[2020-06-30 16:58] timarney commented on #313
@amazingphilippe

[2020-06-30 16:59] smcmurtry commented on #290
Closed by #318

[2020-06-30 16:59] #290 closed

[2020-06-30 17:00] timarney commented on #320
@katewilhelm I added the text above as a placeholder - what copy to we want there?

[2020-06-30 17:03] timarney commented on #319
https://github.com/cds-snc/covid-shield-mobile/issues/271

[2020-06-30 18:19] nickmly commented on #321
I think this issue is fixed with the new smaller images and margins:
![Screenshot_1593541129](https://user-images.githubusercontent.com/5861415/86162349-a1e60800-badc-11ea-8681-0877ddf02d95.png)

I am using a Pixel 3a simulator and I can hit the back button

[2020-06-30 18:20] nickmly commented on #176
Looks like this issue relates to React Native not supporting heading levels:
https://reactnative.dev/docs/accessibility#accessibilityrole-android-ios

Unfortunately, they only accept an `accessibilityRole` of `header` which will be treated as an `h1`.

As for TalkBack reading it as "heading heading", this issue also occurs on the upstream repo, so I am unsure if this is being looked at, or is poss

[2020-06-30 18:20] #176 closed

[2020-06-30 18:24] EliseKa commented on #255
created PR #327 to fix this issue

[2020-06-30 18:26] its-anirudh commented on #320
I added this "Choose the province or territory whose public health guidance you need to follow."
https://github.com/cds-snc/covid-shield-mobile/pull/326

[2020-06-30 18:29] sarasuri opened #328 "Different icon on the "English and French Exposure message are off" screen for COVID Alert app"
Samsung Galaxy J3 Prime
Android version 7.0

Minor issue, on the "Exposure messages are off" screen, COVID Alert app icon is not the same in English and French.

Screenshots
![icon1](https://user-images.githubusercontent.com/12256067/86162744-49fbd100-badd-11ea-86b6-d12594084ced.gif)
![icon2](https://user-images.githubusercontent.com/12256067/86162749-4bc59480-badd-11ea-9440-6800aba7c232.gif)

[2020-06-30 18:39] srepussard commented on #313
This s happening on Android too :
![Screenshot (Jun  30, 2020 11_36_57)](https://user-images.githubusercontent.com/47008295/86164249-4b6dcf00-bac6-11ea-8c66-f3ac5da1b99c.png)

[2020-06-30 18:51] JuliannaR opened #330 "alt text is not read as element isn't focusable [Global]"
**Scenario to reproduce**

All images in the app are not focusable. With this behaviour TalkBack and VoiceOver are unable to access the alt descriptions for the images.

**Expected result**

To be read the alternative text for images.

**Bug or issue / WCAG**

1.1.1 Non text content
https://www.w3.org/TR/WCAG21/#non-text-content

**Screenshots where available**

![Image from iOS (1)](https://user-

[2020-06-30 18:53] #255 closed

[2020-06-30 18:57] qanitah commented on #317
The same behaviour for Samsung Android version 8.

[2020-06-30 19:00] katewilhelm commented on #320
I'm still working on this. Will I be able to add it myself to JSON file?

[2020-06-30 19:07] nickmly commented on #317
This seems to be an issue with the `BulletPointX` component on the `Anonymous` view in Onboarding. Looking into it

[2020-06-30 20:20] #321 closed

[2020-06-30 20:34] emilykuret opened #336 "Exposure notifications shown as a "Silent Notification" in Android"
Exposure notifications don't show up in the main notification section on the phone, they're in the "silent section".

![Screenshot_20200630-155845](https://user-images.githubusercontent.com/55107923/86174347-7882a780-baef-11ea-99d1-8e58fb0543e2.png)

[2020-06-30 20:42] sarasuri opened #337 "Not able to activate the "Next" button from step 5 to step 6 with Talkback"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0 and 8.0

Step 1 to 6 screens after splash screen

While Talkback is on, swiping right to move to next items from Step 1 screen, Talkback moves to each screen and continue reading. On the step 6 screen, pressing “Next” button, takes users to step 2 screen, swipe again to move to each item, Talkback reads steps 2 to 6 again. The same

[2020-06-30 22:04] #320 closed

[2020-06-30 22:32] #328 closed

[2020-06-30 22:44] jpeersoxd opened #343 "No message for Bluetooth being off on Android"
Environment: Nexus 6, Android 6 (Browserstack)

To reproduce:
- Before installing the app, disable Bluetooth
- Install

User gets message that the phone is running Bluetooth

<img width="384" alt="Screen Shot 2020-06-30 at 3 43 24 PM" src="https://user-images.githubusercontent.com/65189530/86184208-7ff28280-bae8-11ea-8992-7c7e4981d51f.png">

[2020-07-01 15:14] jpeersoxd opened #351 "Loading errors and warnings: Android 6"
Environment: Nexus 6/Android 6 (Browserstack)

When the app loads for the first, there are a number of errors and warnings showing up in the Browserstack logs. These may or not be problematic, but they are captured here for informational purposes.

07-01 15:08:20.942 E/SoLoader(14158): couldn't find DSO to load: libjsc.so
07-01 15:08:20.942 W/System.err(14158): java.lang.UnsatisfiedLinkError: coul

[2020-07-01 17:06] jpeersoxd opened #353 "Loading errors and warnings: Android 8.1"
Environment: Android 8.1/Note 9 (Browserstack)

The following errors/warnings appeared on initial load:
Starting app on Galaxy Note 9
07-01 17:03:08.773 E/Zygote  ( 6207): isWhitelistProcess - Process is Whitelisted
07-01 17:03:08.773 E/libpersona( 6207): scanKnoxPersonas
07-01 17:03:08.773 E/libpersona( 6207): scanKnoxPersonas
07-01 17:03:08.773 E/libpersona( 6207): Couldn't open the File - /data

[2020-07-02 11:32] obrien-j commented on #81
Addressed in #354

[2020-07-02 12:27] JuliannaR commented on #240
This issue was fixed in built 10.

[2020-07-02 12:27] #240 closed

[2020-07-02 12:42] JuliannaR commented on #263
This is fixed in V11. @mmiron-HC. Can you confirm?

[2020-07-02 12:47] JuliannaR commented on #212
Currently tracking for release 1 orientation to be locked. We are working on a solution but there is some work happening upstream to address. @srepussard can you confirm I can close this issue for now?

[2020-07-02 12:51] JuliannaR commented on #213
This screen now uses a nav element instead of a link. Can you confirm if I can close @srepussard

[2020-07-02 12:53] JuliannaR commented on #228
@timarney has this been completed? It does not appear in the IOS or Android builds. I'll close out the issue if you've gotten to it.

[2020-07-02 12:55] JuliannaR commented on #233
We do not have the ability to change this because it comes from the OS level, which is the language of the OS install.
@mmiron-HC are you okay with closing this issue?

This is the similar as issue: https://github.com/cds-snc/covid-shield-mobile/issues/190

[2020-07-02 12:58] mmiron-HC commented on #233
@JuliannaR  yes it is fine to close..

[2020-07-02 12:58] #233 closed

[2020-07-02 12:59] mmiron-HC commented on #190
@JuliannaR it is fine to close

[2020-07-02 12:59] #190 closed

[2020-07-02 13:03] JuliannaR commented on #235
@timarney @smcmurtry how are we addressing responsive design in the app? Given the screen resolutions across the phones that can be used is pretty wide ranging and the features of phones enable large text, zoom and magnification, is there a way to address this meaningfully?

[2020-07-02 13:15] JuliannaR commented on #285
This was fixed in V11. @mmiron-HC please let me know if I can close. The heading appears in french now.
![Image from iOS (5)](https://user-images.githubusercontent.com/35537308/86363212-872ea300-bc44-11ea-9797-23eabf78002f.png)

[2020-07-02 13:20] mmiron-HC commented on #285
@JuliannaR Retested and titles are now being displayed as expected in Android.

[2020-07-02 13:20] #285 closed

[2020-07-02 13:24] JuliannaR commented on #343
The control center needs to be used in setting to turn off bluetooth the quick gesture to disable doesn't turn blue tooth off, it just disconnects devices. @jpeersoxd can you test using the settings on your phone and confirm I can close?

[2020-07-02 14:03] jpeersoxd commented on #343
I had Bluetooth turned off in the phone settings

<img width="384" alt="Screen Shot 2020-07-02 at 7 02 26 AM" src="https://user-images.githubusercontent.com/65189530/86368465-0c5c8c80-bc32-11ea-945c-3de984fbb5a9.png">

[2020-07-02 14:04] qanitah commented on #337
Confirming the same behaviour on Android 10 (OnePlus 7).

[2020-07-02 14:28] JuliannaR commented on #313
@timarney this font was black in previous iterations and should match https://docs.google.com/presentation/d/128gqnSP1GL-NINLCgjlNn9voeycpvtkrPWOKyMJlMWM/edit#slide=id.g8acb366c53_0_41 slide 9.

[2020-07-02 15:01] jpeersoxd commented on #273
On Android 8.1 I am seeing the same thing, except I don't get a message about sharing my ID. Cannot progress past this point.

<img width="340" alt="Screen Shot 2020-07-02 at 8 00 56 AM" src="https://user-images.githubusercontent.com/65189530/86375140-2dc17680-bc3a-11ea-865a-e3e031ba5365.png">

[2020-07-02 15:09] jpeersoxd commented on #273
Attaching log file
[app-release.apk_2020_7_2_15_5_54.log](https://github.com/cds-snc/covid-shield-mobile/files/4865136/app-release.apk_2020_7_2_15_5_54.log)

[2020-07-02 15:23] qanitah opened #360 "Unable to close on Android"
When the user is on "How COVID Alert works", they're not able to close this by using the top left arrow.
Note that TalkBack in NOT on.

Since this arrow is quite high on the screen, the top notifications keep popping up. The arrow is quite small and it doesn't work.

Android 8 on Samsung Galaxy

![10](https://user-images.githubusercontent.com/14280062/86377431-58212d00-bc56-11ea-93a0-631a5f6b28bf.

[2020-07-02 16:36] timarney commented on #286
These now get pulled from the .env based on an upstream change.  We'll want to adjust this again to use our province selector not the .env
[code]

[2020-07-02 19:26] timarney commented on #272
@nickmly did this get fixed yet?

[2020-07-02 19:30] mmiron-HC commented on #272
We haven't rec'd a new apk, therefore I cannot confirm if it was fixed.

[2020-07-02 19:37] its-anirudh commented on #330
hi @JuliannaR  , what should the voice over text say ? I am providing the text that's same as the main Title e.g.g ("How COVID alert works")

[2020-07-02 20:06] JuliannaR commented on #330
@its-anirudh

There is defined alt text for each image in the app. They are in the figma file.

EN: A hand-drawn illustration of a mobile phone in a pocket, sending and receiving signals.
FR: Dessin à la main d’un téléphone mobile dans une poche, qui envoie et reçoit des signaux.

Using the heading text doesnt give context and these images are not decorative, they convey meaning.

[2020-07-02 20:08] JuliannaR commented on #330
@its-anirudh The alt text issue impacts all images throughout the app screens in the onboarding and how it works flows.

[2020-07-02 21:47] henrytao-me opened #370 "Submission failed on device that uses EN for the first time"
## What?
The device that uses EN for the first time doesn't have any TEKs. If the app submits empty array of TEKs to server, the server will return error which users shouldn't care about.

## Suggestion
Check if TEKs is empty. If yes, skip submission for today. The flow continues as normal the next day.

[2020-07-02 22:49] timarney commented on #370
On a fresh device where no exposure keys exists yet.

Submit a code ->agree

Server returns
[code]

Resulting in an error
<img src="https://user-images.githubusercontent.com/62242/86415015-b5879f00-bc93-11ea-9392-925d53de44bd.jpg" width="200">

After saying "ok" the "under" screen shows the upload your random codes button which will loop into same flow.

<img src="https://user-images.githubusercon

[2020-07-03 00:15] jeffmaher opened #374 "COVID Alert crashed in the background (iOS)"
COVID Alert crashed while in the background while another app was being used. My partner is blushing about her choice of game, but here's a screen shot 😸 :

![Image from iOS](https://user-images.githubusercontent.com/950486/86419312-b2df7680-bca0-11ea-86c5-c0fa84b97858.jpg)

This happened somewhere around 20:00 ET on July 2, 2020 and she tapped `Share`, so there should be a dump of the issue in th

[2020-07-03 00:20] nickmly commented on #272
@timarney This was fixed in #308 I believe

[2020-07-03 00:29] JuliannaR commented on #254
This should be corrected on the latest build. @mmiron-HC I'll look to get you an invite to the android build that's in the playstore to confirm.

[2020-07-03 00:36] JuliannaR commented on #263
This is fixed in V11 and onward.

[2020-07-03 00:36] #263 closed

[2020-07-03 00:36] timarney commented on #286
@jeberhardt going to close this as the original issue is fixed

[2020-07-03 00:36] #286 closed

[2020-07-03 00:40] #228 closed

[2020-07-03 02:08] Stephen-PM commented on #370
Expected behavior: To the user it should not matter if they have several days worth of keys, only keys from today, or no keys. After they enter their one time code and then agree to upload their keys they should be taken to the _Thank You_ screen. The next day, and on each subsequent day for 14 days, they should be prompted to upload new keys.

[2020-07-03 05:12] smcmurtry commented on #370
I've investigated this and I believe #372 really did close this issue. Here is what I did:

1. Simulated a fresh device with no random ids, without the `if` statement added in #372:
![Screen Shot 2020-07-02 at 10 54 58 PM](https://user-images.githubusercontent.com/5498428/86433124-11afea80-bcb7-11ea-9809-69818292da88.png)
2. Submitted a code and observed the bug flow: submit 8-digit code -> share

[2020-07-03 05:12] #370 closed

[2020-07-03 10:08] #313 closed

[2020-07-03 10:15] timarney commented on #370
Confirmed with v14

![unnamed](https://user-images.githubusercontent.com/62242/86459250-85241d00-bcf4-11ea-902c-9d6e81ee7659.jpg)

[2020-07-03 11:54] timarney commented on #164
@Stephen-PM can you confirm this on the latest build(s)

[2020-07-03 12:07] obrien-j commented on #81
cc: @timarney I'm not entirely sure how to validate this completion, so I'll leave it with you to close.

[2020-07-03 12:15] obrien-j commented on #307
Nothing fancy here, just need to .close() the response obj both before the ioerror throw, and before returning.

https://square.github.io/okhttp/4.x/okhttp/okhttp3/-response/

[2020-07-03 12:49] JuliannaR commented on #217
@katewilhelm can we re structure the wording here? VoiceOver reads "Number 8 digit number?" It's reading it as No. 8.

[2020-07-03 12:51] JuliannaR commented on #256
This has been removed and is no longer an option in the flow.

[2020-07-03 12:51] #256 closed

[2020-07-03 12:53] JuliannaR commented on #291
@smcmurtry, @nickmly or @its-anirudh the focus on this page now goes to the skip button element, can we have this focus on the top of page/header?

[2020-07-03 12:56] JuliannaR commented on #281
Similar to issue https://github.com/cds-snc/covid-shield-mobile/issues/291
Focus needs to be at the top of the content, in this case the header. @nickmly @its-anirudh @smcmurtry

[2020-07-03 13:01] JuliannaR commented on #317
The good news, I can access all the content in VoiceOver in this update. There is an issue though, the focus when you go from screen to screen is on the button and not the heading, can we fix that @nickmly

[2020-07-03 13:04] JuliannaR commented on #287
@nickmly this might be an easy one to add to your onboarding work, there is an extra focusable field that needs to be removed here.

[2020-07-03 15:08] timarney commented on #271
From a fresh install during on boarding was the prompt to enable push notifications declined?

[2020-07-03 15:19] #217 closed

[2020-07-03 15:21] JuliannaR commented on #213
Link is no longer displayed like this and is now a nav element.
![Image from iOS (8)](https://user-images.githubusercontent.com/35537308/86482148-5e2f1080-bd1f-11ea-8b25-c637249d50db.png)

[2020-07-03 15:21] #213 closed

[2020-07-03 15:28] JuliannaR commented on #164
This has been fixed.

[2020-07-03 15:28] #164 closed

[2020-07-03 15:31] JuliannaR commented on #273
Can you prioritize this in your workflow with someone?

[2020-07-03 15:41] henrytao-me opened #382 "Crash on splash screen due to out of memory"
## What?

Launch screen image is too big for low end devices.

## Suggesion
- Change image assets to svg and make splash screen more responsive.

## Environment
Nexus 5X.

[code]

[2020-07-03 15:53] JuliannaR commented on #271
@timarney yes, it was declined. But on old versions if you decline you cannot get it back. We might need to set up some regression testing around this.

[2020-07-03 16:18] JuliannaR commented on #237
We should reconsider our experience because the language impacts can potentially by confusing. @katewilhelm and @EliseKa can we have a conversation about this? We cannot change the language of the OS prompt and the pathway can introduce multiple language screens connected.

[2020-07-03 17:07] #307 closed

[2020-07-03 17:16] jpeersoxd opened #388 "French version of Saskatchewan "Find out if you need to be tested" goes to EN site"
v14, tested on iPhone XS

In the French language version of the app, with location set to Saskatchewan, "Découvrez si vous devriez vous faire tester" sends the user to the English language version of the Saskatchewan government health site. It should go to the French version.

Note that Alberta and BC don't seem to have French versions on their government health sites.

[2020-07-03 17:18] jpeersoxd opened #389 "Northwest Territories: "Find out if you need to be tested" goes to Survey Monkey"
v14, tested on iPhone XS

Change the region to NWT. In both the French and English versions, if the user clicks "Find out if you need to be tested", they are directed to a Survey Monkey page.

[2020-07-03 17:36] its-anirudh commented on #330
@JuliannaR Added the alt text for How-to, and a potential fix for consistent VO navigation in the latest commit.

[2020-07-03 17:50] JuliannaR opened #390 "Focus state when pressed doesn't meet contrast"
**Scenario to reproduce**

Focus state when pressed is unreadable and does not pass contrast min requirements. Focus states should be accessible.

**Expected result**
To have pressed state still be readable for users

**Bug or issue / WCAG**

1.4.3 Contrast minimum
https://www.w3.org/TR/WCAG21/#contrast-minimum

**Screenshots where available**
![Image from iOS (2)](https://user-images.githubuserco

[2020-07-03 17:58] JuliannaR opened #391 "Content underneath sheet is available"
**Scenario to reproduce**
When the status Sheet is expanded, content underneath the Sheet is still available/focusable via swipe/touch navigation. Mobile screen readers announce this content as if it were a part of the visible Sheet content

**Expected**
Content underneath to not be available via touch/swipe.

**Bug or issue / WCAG**
2.4.3 Focus Order

**Drive video of experience:** https://drive.

[2020-07-03 17:58] JuliannaR commented on #391
CovidShield/mobile#39

[2020-07-03 18:38] #76 closed

[2020-07-03 18:54] henrytao-me commented on #319
Android doesn't require permission to show push notification. That's why it's not relevant / shows up in Android.

I think we can close this issue.

[2020-07-03 18:57] JuliannaR commented on #175
This was addressed in V11.

[2020-07-03 18:57] #175 closed

[2020-07-03 18:58] JuliannaR commented on #197
This was fix in V11. @qanitah can you update testflight and retest?

[2020-07-03 19:04] sidbmw opened #393 "Unable to give app permissions."
No permission request prompt either.

OnePlus 7
Android 10

![Screenshot_20200703-150321](https://user-images.githubusercontent.com/16989022/86493148-6480b500-bd3e-11ea-8680-635fcf089ef5.jpg)
![Screenshot_20200703-150324](https://user-images.githubusercontent.com/16989022/86493152-68143c00-bd3e-11ea-9286-f570a0bc3294.jpg)

[2020-07-03 19:08] sidbmw commented on #393
Reopening app fixed it?!

![Screenshot_20200703-150806](https://user-images.githubusercontent.com/16989022/86493297-086a6080-bd3f-11ea-8efd-a62ce6f154d4.jpg)

[2020-07-03 19:13] sidbmw commented on #393
Bluetooth off:
![Screenshot_20200703-150806](https://user-images.githubusercontent.com/16989022/86493450-9e9e8680-bd3f-11ea-999a-b71e02313b72.jpg)

Bluetooth on:
![Screenshot_20200703-151202](https://user-images.githubusercontent.com/16989022/86493453-9f371d00-bd3f-11ea-8b5d-df65f7055b3c.jpg)
![Screenshot_20200703-151059](https://user-images.githubusercontent.com/16989022/86493454-9f371d00-bd3f-11

[2020-07-03 19:14] JuliannaR commented on #330
+1 Thanks @its-anirudh

[2020-07-03 19:22] henrytao-me commented on #259
@mmiron-HC Can you verify it again? ExposeStatus is persisted after this PR https://github.com/CovidShield/mobile/pull/177. It's already merged to this repo. 🙇

I will close this for now. Please reopen if it still happens 🙇

[2020-07-03 19:22] #259 closed

[2020-07-03 19:53] #360 closed

[2020-07-03 21:13] JuliannaR commented on #211
adressed in https://github.com/cds-snc/covid-shield-mobile/pull/367
will be part of the next build.

[2020-07-03 21:15] JuliannaR commented on #389
@katewilhelm can you verify the link that belongs here?

[2020-07-03 21:15] JuliannaR commented on #388
@katewilhelm can you verify the link that belongs here?

[2020-07-03 21:28] katewilhelm commented on #388
Good catch. That is the link for the NWT self-assessment, but it's probably better to link people here so they get the NWT context and assurance:
**EN** https://www.gov.nt.ca/covid-19/en/services/nwt-online-covid-19-self-assessment-tool
**FR** https://www.gov.nt.ca/covid-19/fr/services/outil-d%E2%80%99auto-%C3%A9valuation-en-ligne-pour-la-covid-19-aux-tno

[2020-07-03 21:30] JuliannaR commented on #319
@srepussard I'm closing this based on @henrytao-me comment on android functionality, if you have follow up please reach out.

[2020-07-03 21:30] #319 closed

[2020-07-03 21:38] JuliannaR commented on #272
Manon, I added an new .apk today in the tester channel

[2020-07-03 21:40] JuliannaR commented on #287
@smcmurtry similar to the one you fixed today.

[2020-07-03 21:41] #330 closed

[2020-07-03 21:41] JuliannaR commented on #330
fixed in V13.

[2020-07-03 21:43] JuliannaR commented on #249
@qanitah these are designed as radio buttons although they look differently, the function by allowing only one selection at a time.

[2020-07-03 21:43] #249 closed

[2020-07-03 21:48] JuliannaR commented on #207
@paulettefrancis the francais link has been removed.

[2020-07-03 21:50] JuliannaR commented on #209
@srepussard this screen has changed.
![Image from iOS (9)](https://user-images.githubusercontent.com/35537308/86498826-9b15fa00-bd55-11ea-9b45-69ab23e40a2b.png)

[2020-07-03 21:50] #209 closed

[2020-07-03 22:12] #212 closed

[2020-07-03 22:17] smcmurtry commented on #388
@katewilhelm I think you meant to comment that on #389?

[2020-07-03 22:31] JuliannaR commented on #317
This is fixed in your latest PR around onboarding flows. @smcmurtry the screen has changed a lot but the reading order was addressed re: page nav. Can you confirm and we can close?

[2020-07-03 22:32] JuliannaR commented on #287
@paulettefrancis this will appear in V15 on IOS.

[2020-07-03 22:36] timarney commented on #271
@henrytao-me can you confirm what status comes back for this?  I think it's the blocked status.

[2020-07-03 22:39] timarney commented on #247
@henrytao-me - I believe this will be related to the bottom drawer issue.

[2020-07-03 22:40] timarney commented on #247
https://github.com/cds-snc/covid-shield-mobile/issues/269

[2020-07-03 23:15] henrytao-me commented on #247
I can take it too

[2020-07-03 23:22] katewilhelm commented on #388
oops I did! Sorry!

[2020-07-03 23:22] katewilhelm commented on #389
Good catch. That is the link for the NWT self-assessment, but it's probably better to link people here so they get the NWT context and assurance:
EN https://www.gov.nt.ca/covid-19/en/services/nwt-online-covid-19-self-assessment-tool
FR https://www.gov.nt.ca/covid-19/fr/services/outil-d%E2%80%99auto-%C3%A9valuation-en-ligne-pour-la-covid-19-aux-tno

[2020-07-03 23:25] katewilhelm commented on #388
Saskatchewan French should go to English, but the French button needs to say "(lien en anglais seulement)"

Although SK has French content, it's translated automatically and often out of sync with English.

[2020-07-04 03:09] jeberhardt commented on #393
I'm having the same issue on a Google Pixel 1, Android 10.

If I install the version from the Play Store, I get the prompt to turn on permissions. If I build the app on my machine and install it, I don't get the prompt, and permissions are off.

[2020-07-04 09:49] timarney commented on #393
@dsamojlenko - thinking this has something to do with the whitelisted account (maybe).

[2020-07-04 09:53] timarney commented on #271
https://github.com/CovidShield/mobile/issues/163

[2020-07-04 09:56] timarney commented on #393
@JuliannaR can we try to start tagging as `Play store` vs `apk`

Ideally all testing is being done via the Play store.  Looking to avoid it works when it's installed this way but not that way issues.

[2020-07-04 09:57] timarney commented on #374
@jeffmaher just to confirm this happened once or continues to happen?

[2020-07-04 10:07] timarney commented on #184
Closing this - as we have references in the other issues and or the items have been merged.

[2020-07-04 10:07] #184 closed

[2020-07-04 10:10] timarney commented on #71
@Stephen-PM can you confirm with the team ?

[2020-07-04 10:14] timarney commented on #81
Code merged in 354 - we can adjust as need be.
[code]

[2020-07-04 10:14] #81 closed

[2020-07-04 10:44] henrytao-me commented on #271
Ah ha. I can take it. 👍

[2020-07-04 10:54] timarney commented on #185
@henrytao-me we can revisit or include this in the bottom sheet drawer menu fixes

[2020-07-04 11:56] henrytao-me commented on #185
Ah ha. Another related issue 😄  👍

[2020-07-04 12:40] nickmly commented on #250
@JuliannaR Should all these buttons have the same text? E.g. All of them could say 'Back

[2020-07-04 12:59] JuliannaR commented on #291
focus is set the the skip link button. It should focus on the header or top of page.

[2020-07-04 13:30] obrien-j opened #408 "Notifications should probably have a 'do-not-repeat' mode to avoid pestering people."
@emilykuret flagged that after getting into diagnosed state, she received several push notifications in a row.

I'm assuming that this loop is the issue, given the lack of a 'didNotifyToday' flag.

https://github.com/cds-snc/covid-shield-mobile/blob/fdc4eb59eeb7f6f912b38befdeedb253177bacc5/src/services/ExposureNotificationService/ExposureNotificationService.ts#L141

[2020-07-04 13:44] obrien-j opened #409 "BVC-83 :: Please review usage of USE_FINGERPRINT((deprecated in API 28)) and USE_BIOMETRIC permissions."
=-=-=-
Please review usage of USE_FINGERPRINT and USE_BIOMETRIC permissions.

The USE_FINGERPRINT permission was deprecated in Android 9, so its API calls should be checking as per https://developer.android.com/reference/android/hardware/fingerprint/FingerprintManager. Also, the USE_BIOMETRIC should be added for newer Android devices.
-=-=-=

[2020-07-04 13:56] obrien-j opened #410 "BVC-88 :: Invalid data received from the server fails silently in exposure matching capability of the app"
The mobile app can be rendered useless if it receives an invalid value for one of the parameters within the exposure configuration data, which is received from the server after initial app setup. The app does not validate the data received from the server, but the invalid value is rejected later with a silent failure just before an attempt is made to check if the user has been exposed to an infect

[2020-07-04 14:24] obrien-j opened #411 "BVC-90 :: Replace app snapshots with static image"
Description

Both the iOS and Android versions of the app store "snapshots" on disk - these are screenshots taken of the app when a user minimizes the app, which in addition to remaining on disk, the OS will use as a preview of sorts in the app switcher.

Depending which screen the user was on before minimizing, the snapshot could potentially reveal if the user was diagnosed with COVID, or exposed

[2020-07-04 14:24] obrien-j commented on #411
dupe report from BBRY analysis as well, and also references to this in immuni and the corona-warn-app repo's.

I'm on the fence to be honest, so just marking for discussion to start.

[2020-07-04 14:27] obrien-j opened #412 "BVC-92 :: covid-shield-mobile: Memory leak in iOS implementation of getRandomBytes"
Description
The issue was discovered through code inspection of the iOS native(Objective-c) source code.

File: CovidShield.m, Method: getRandomBytes

A temporary buffer (buff) is malloc'd, filled with random bytes then copied into a base64 encoded string that is returned to the react-native code. However, the temporary buffer is never freed leaking "size" bytes (normally 32). Since the data from

[2020-07-04 14:30] nickmly commented on #235
This doesn't seem to happen anymore on iPhone 8, @mmiron-HC or @JuliannaR can you confirm?
![Simulator Screen Shot - iPhone 8 - 2020-07-04 at 10 30 13](https://user-images.githubusercontent.com/5861415/86514683-694a7500-bde1-11ea-8927-a0e2520e42aa.png)

[2020-07-04 14:33] timarney commented on #215
@smcmurtry let's chat about this one - I know at least what's happening here now.

[2020-07-04 15:10] timarney commented on #272
From the latest build in the Play store.

@JuliannaR going to mark this as fixed but won't close yet.

![Screenshot_20200704-104921](https://user-images.githubusercontent.com/62242/86515310-fa234f80-bde5-11ea-9c16-47a7a8ac01bf.png)

[2020-07-04 15:12] timarney opened #413 "Android - Increase back button size / touch target - How it works"
<img width="313" alt="Screen Shot 2020-07-04 at 11 11 54 AM" src="https://user-images.githubusercontent.com/62242/86515498-3a370200-bde7-11ea-8b27-8967f7510281.png">

[2020-07-04 15:21] JuliannaR commented on #235
Currently the app supports text magnification of 200%. Above 200% and the user will encounter this. @mmiron-HC I think we can close this one as it functions to WCAG requirement of screen zoom.

![Image from iOS (11)](https://user-images.githubusercontent.com/35537308/86515629-58e9c880-bde8-11ea-8be5-77c0815fea1c.png)

![Image from iOS (10)](https://user-images.githubusercontent.com/35537308/865156

[2020-07-04 15:22] JuliannaR commented on #272
Thanks for fixing the padding. @amazingphilippe might want to address the icon. Do we have control to make it consistent with the IOS version? We use close for actions that end, and back for actions to move in the nav. Thoughts?

[2020-07-04 15:23] JuliannaR commented on #250
Back should be used when navigating back to the previous page, cancel should be used when we are closing an action. This is similar to issue https://github.com/cds-snc/covid-shield-mobile/issues/272#issuecomment-653777080

[2020-07-04 15:25] JuliannaR commented on #413
@timarney @nickmly please see https://github.com/cds-snc/covid-shield-mobile/issues/272#issuecomment-653777080 re arrow vs. back/close used in IOS.

[2020-07-04 15:27] JuliannaR commented on #393
@timarney attempting to do this now.

[2020-07-04 15:41] katewilhelm opened #414 "Remove tip for locking phone from All set screen"
Remove tip from all 3 variations of the All set screen. We found it was unnecessary and causing some confusion in research

[2020-07-04 17:03] emilykuret commented on #408
On Android, the phone did not stack the notifications, but every few mins the time on the notification reset and the phone lit up.

@jroo submitted a screenshot through TestFlight for how Apple handled it.
![image](https://user-images.githubusercontent.com/55107923/86517413-bd138900-bdf6-11ea-99f6-50d0e252bd1b.png)

[2020-07-04 17:15] smcmurtry commented on #215
This is because we are using the header as a button to open the demo menu:
`<TouchableWithoutFeedback onPress={onLogoPress}>`.

I tried removing this and voiceover works as expected. So this will not be an issue when we remove this feature pre-release.

[2020-07-04 19:47] #250 closed

[2020-07-04 22:12] obrien-j commented on #414
Why? (just for documentation sake)

[2020-07-05 02:26] emilykuret commented on #276
I think this is on iOS as well

[2020-07-05 04:40] smcmurtry commented on #388
This is expected behaviour. As @katewilhelm mentioned we are linking to the english guidance here on purpose, and the french button indicates this with the text:

<img width="352" alt="Screen Shot 2020-07-04 at 10 38 17 PM" src="https://user-images.githubusercontent.com/5498428/86525638-1c998500-be47-11ea-9cfe-4963db38525c.png">

[2020-07-05 04:40] #388 closed

[2020-07-05 04:48] smcmurtry commented on #317
Yes my pr #398 fixed this issue

[2020-07-05 04:48] #317 closed

[2020-07-05 04:57] smcmurtry commented on #273
We are putting up a loading spinner here while the user answers the permission popup. The spinner goes away once the popup is answered. What specifically is the problem with that?

@jpeersoxd it sounds like your issue is not related to the loading spinner and should be filed as a separate issue if you are still experiencing it.

[2020-07-05 05:01] smcmurtry commented on #276
So the issue here is that there is no styling to indicate the field is in focus after it is tapped. We would need some designs for what the focus style should look like before we do anything here.

[2020-07-05 05:04] smcmurtry commented on #207
This was fixed when we moved to the page navigation in #398

[2020-07-05 05:04] #207 closed

[2020-07-05 07:19] jeberhardt commented on #276
@smcmurtry, while I agree about the styling, I think this issue all by itself is valid, and can be closed as is. The styling is a separate issue that applies whether the user taps in the field, or it is automatically selected.

[2020-07-05 12:32] #413 closed

[2020-07-05 12:50] timarney commented on #276
The form field should given focus for users to see where they are.

a) Per @smcmurtry
   We would need some designs for what the focus style should look like before we do anything here.

<img width="200" alt="Screen Shot 2020-07-05 at 8 45 26 AM" src="https://user-images.githubusercontent.com/62242/86532980-ea664280-be9b-11ea-861d-54705ae711aa.png">

☝️ Steve you flagged issues here before as the

[2020-07-05 13:01] #414 closed

[2020-07-05 13:40] JuliannaR commented on #276
I agree with the auto focus and giving focus to the input. Because there is some visual trickery that happens in the physical design as its actually all one input, can we focus on it like its just 1 element? @smcmurtry

[2020-07-05 13:53] JuliannaR commented on #337
This is fixed in V15.

[2020-07-05 13:53] #337 closed

[2020-07-05 13:54] JuliannaR commented on #272
The touch area is now fixed.

[2020-07-05 13:54] #272 closed

[2020-07-05 13:58] JuliannaR commented on #304
Fixed in IOS V16.

[2020-07-05 13:58] #304 closed

[2020-07-05 13:59] JuliannaR commented on #287
Fixed in V16 IOS/Android

[2020-07-05 14:04] JuliannaR commented on #292
Closed because this is duplicated in Collapse BottomSheet after submission flow is finished #387

[2020-07-05 14:04] #292 closed

[2020-07-05 14:06] #211 closed

[2020-07-05 14:07] JuliannaR commented on #269
https://github.com/cds-snc/covid-shield-mobile/issues/391 issue duplicated.

[2020-07-05 14:07] #269 closed

[2020-07-05 14:08] JuliannaR commented on #291
This is fixed in V16.

[2020-07-05 14:08] #291 closed

[2020-07-05 14:11] #389 closed

[2020-07-05 14:41] JuliannaR opened #432 "VoiceOver + TalkBack - issues accessing content underneath sheet, collapsing shield, interacting with content on sheet"
When the status sheet is expanded, content underneath the sheet is still available/focusable via swipe/touch navigation. Mobile screen readers announce this content as if it were a part of the visible Sheet content.

When the screen is expanded screen readers users cannot collapse the sheet.

There are some wonky behaviours where screen reader users can open the change your province nav element wi

[2020-07-05 14:42] JuliannaR commented on #432
@timarney @henrytao-me I merged these issues together as they are being worked on in a single PR.

[2020-07-05 14:44] JuliannaR commented on #391
Merged into this issue: https://github.com/cds-snc/covid-shield-mobile/issues/432**

[2020-07-05 14:44] #391 closed

[2020-07-05 14:44] JuliannaR commented on #186
Merged into this issue: https://github.com/cds-snc/covid-shield-mobile/issues/432

[2020-07-05 14:44] #186 closed

[2020-07-05 14:44] JuliannaR commented on #185
Merged into this issue: https://github.com/cds-snc/covid-shield-mobile/issues/432

[2020-07-05 14:44] #185 closed

[2020-07-05 14:45] JuliannaR commented on #247
Merged into this issue: https://github.com/cds-snc/covid-shield-mobile/issues/432

[2020-07-05 14:45] #247 closed

[2020-07-05 14:45] JuliannaR commented on #197
Merged into this issue: https://github.com/cds-snc/covid-shield-mobile/issues/432

[2020-07-05 14:45] #197 closed

[2020-07-05 14:47] timarney commented on #276
Talked to @JuliannaR

1) Give focus to the header
2) Update the styling "for all types of users" on the input - perhaps just dim the underline for today to indicate that yes that part of the input has focus (no really but visually it does)
3) Ideally the "first" digit of the input will receive focus when moving to that area.

We will revist all of this after an initial launch.

@JuliannaR please c

[2020-07-05 14:55] JuliannaR commented on #276
@timarney @smcmurtry confirming the above. We will need to readdress post launch but this will enable different types of users to interact.

[2020-07-05 15:15] jeffmaher commented on #374
Continues to happen. Happened twice more since filing, at different times of the day.

[2020-07-05 15:31] emilykuret commented on #374
![Screen Shot 2020-07-05 at 11 30 49 AM](https://user-images.githubusercontent.com/55107923/86536112-10e3a800-beb3-11ea-8e9a-5e81f7926413.png)

Here's the crash reports from TestFlight

[2020-07-05 15:44] timarney commented on #273
@JuliannaR per @smcmurtry

[2020-07-05 16:11] JuliannaR commented on #273
I think this is a non issue, because when selected share this goes away. @srepussard I am going to close this as it works as expected.

[2020-07-05 16:14] #235 closed

[2020-07-05 16:23] obrien-j opened #433 "MOB-H-2: Exposure Code Susceptable to Brute Force Attack"
**Analysis of the Issue**
Without limit on how much code, a malicious user can potentially automate a loop through all 8- digit codes to "discover" currently valid codes, and potentially also as some kind of denial of service.

**Recommendation**
Since the code is only for users who are positively diagnosed, there should be very few (3-5) attempts allowed before this backs off very aggressively.

[2020-07-05 16:25] obrien-j commented on #433
Given the existing rate limiting measures we have in place within the server and infrastructure level, this does not concern me.

It may be relevant though to provide a bit of feedback to the users to ensure they don't accidently get themselves blocked for an hour, when trying to input a code.

We have committed to BBRY to provide a response, with planned remediation, or not, for all issues they'v

[2020-07-05 16:28] obrien-j opened #434 "MOB-H-3: iOS Key Material Stored in Insecure Fashion"
**Analysis of the Attack**
The iOS mobile application stores the applications private key unencrypted within the applications container. This key is used as part of the communications exchange between the application and server when submitting the Exposure Notification API data.
An adversary would have to compromise the device to retrieve the key material, but they would then be readily available

[2020-07-05 16:29] obrien-j commented on #434
Noting that the enclave may not align with the existing methods we're using currently, so we will have to take this under advisement. Similar issues related to the selection of crypto libraries was raised by CCCS as well. Will link tickets once I get them triaged.

[2020-07-05 16:31] obrien-j opened #435 "MOB-H-4: Android Key Material Stored in Insecure Fashion"
**Vulnerability Summary**
The Android mobile application key material is stored unencrypted within the applications directory. This exposes the keys to an unnecessary level of risk.
Classification:
• OWASP: M2: Insecure Data Storage
• OWASP: M5: Insufficient Cryptography
• OWASP: M7: Client Code Quality

**Analysis of the Attack**
The Android mobile application stores the applications private key

[2020-07-05 16:31] obrien-j commented on #435
Similar issue/comments to #434

[2020-07-05 16:34] obrien-j opened #436 "MOB-H-5: App Transport Security and Certificate Transparency"
**Vulnerability Summary**
App Transport Security prohibits the app from using cleartext protocols, invalid self-signed certificates for TLS connections, and weak cipher suites.
In the iOS application, App Transport Security (ATS) is disabled via NSAllowsArbitraryLoads and NSExceptionAllowsInsecureHTTPLoads. Furthermore, NSRequiresCertificateTransparency is not enabled.

**Recommendation**
Figure 3

[2020-07-05 16:37] obrien-j opened #437 "MOB-H-6: Insufficient Encryption in Transit"
**Vulnerability Summary**
The application should enforce HTTPS using TLS 1.2, strong ciphers, and SSL certificates. The code present in the mobile application does not appear to enforce HTTPS communication. This was identified by the absence of the expected code.

**Analysis of the Issue**
Conduct a TLS vulnerability scan of the following endpoints or verify the TLS configuration on the server:

*

[2020-07-05 16:40] obrien-j commented on #437
cc: @maxneuvians just flagging this one as it appears to bleed across to the server provided protocols. I'll triage the mobile side later, but my understanding is that we do not provide any http endpoints, and we are in fact providing an HTTPS-ITPIN compliant set of protocols and ciphers. If you could confirm, that'd be helpful.

Note, there's a buried recommendation for certpinning that I'll pull

[2020-07-05 16:45] obrien-j opened #438 "MOB-M-1: Default Hardcoded HMAC Key"
**Analysis of the Attack**
Blackberry note the default environment settings file contain a hardcoded HMAC key string. It is common pattern to see default values changed, therefore this may result in “insecure by default” deployments.

**Recommendation**
• Do not provide a default value for items that require entropy
• Ideally generate these values within provisioning scripts
• Ensure guidance is p

[2020-07-05 16:58] obrien-j opened #439 "MOB-M-2: iOS Screen Caching Information Disclosure"
**Vulnerability Summary**
iOS takes a screenshot of an application when it is temporarily suspended to facilitate user interface transitions. These screenshots are kept unencrypted on the local file system. A privacy concern arises when this screenshot contains sensitive information.

**Analysis of the Attack**
Blackberry noted that the iOS application does not block caching of its screens.
Automa

[2020-07-05 16:59] obrien-j commented on #439
dupe of #411

[2020-07-05 17:00] obrien-j commented on #439
closing, will triage under other ticket.

[2020-07-05 17:00] #439 closed

[2020-07-05 17:02] obrien-j opened #440 "MOB-M-3: iOS Application Caches HTTPS Requests/Responses"
**Vulnerability Summary**
iOS stores application HTTP requests and responses on disk in an unencrypted format by default. These requests may contain sensitive data, such that the user has been diagnosed with Covid-19.

**Analysis of the Attack**
Blackberry noted that the iOS application does not prevent HTTP requests and responses from being cached.
Requests made using ‘NSURLRequest’ will cache re

[2020-07-05 17:04] obrien-j opened #441 "MOB-M-4: Android Application Caches HTTPS Requests/Responses"
**Vulnerability Summary**
The Android HTTP library allows requests and responses to be cached to disk. This mechanism uses an unencrypted format by default. These requests may contain sensitive data, such that the user has been diagnosed with Covid-19.

**Analysis of the Attack**
Blackberry noted that the Android application does not prevent HTTP requests and responses from being cached.
HTTP/S re

[2020-07-05 17:08] obrien-j opened #442 "MOB-M-6: iOS memory leak in CovidShield.m"
dupe of #412

**Analysis of the Issue**
Review of the function shows the buffer was never freed up and exploring suggestion on replacing malloc with 'NSMutableData'

In function RCT_REMAP_METHOD(getRandomBytes, buff is malloc'd but never freed.

**Recommendation**
Suggestion on new code could look like this:
NSMutableData *buff = [NSMutableData dataWithLength:size];
int status = SecRandomCopyBytes

[2020-07-05 17:16] obrien-j opened #444 "MOB-M-7: iOS reject not called in failure case CovidShield::getRandomBytes"
**Defect Summary**
When reviewing code in ../covid-shield- mobile/blob/add_device_capabilities/ios/CovidShield/CovidShield.m#L18, the SecRandomCopyBytes has returned an error.

**Analysis of the Issue**
Following the code path, SecRandomCopyBytes is supposed to be resolved later on withing the React framework. There was no evidence that was handled and the error was not handled properly.

![image]

[2020-07-05 17:21] obrien-j opened #445 "MOB-M-9: REACT state update on an unmounted component"
**Performance Summary**
When reviewing code in ../covid-shield- mobile/blob/add_device_capabilities/src/screens/home/HomeScreen.tsx#L58, the following suggestion was made

Unmounted component warning that points to a potential memory leak concern.

**Analysis of the Issue**
There is a warning when app is running in debug mode (at least in Android) that says there is a REACT state update on an unmo

[2020-07-05 17:37] JuliannaR commented on #215
@smcmurtry sounds good. @timarney and I talked about this, this morning. That works for all screens with the header. There are still the screens with the close/cancel in the top right that experience a similar pattern problem, Are we able to address those?

[2020-07-05 17:37] jpeersoxd commented on #273
@JuliannaR Please reopen this. I have just retested with today's codes, and there is no permission popup coming up. I only have the spinner, and no way of proceeding from there. I tried killing/restarting the app, which then takes me to the upload your random codes screen. When I click to upload, I again get the spinner with no permission popup.

[2020-07-05 17:42] JuliannaR commented on #433
I'm mindful that we need to enable users to get this wrong a few times because its easy to input the numbers wrong. I'd suggest if we were going to limit this 5 attempts would be a good place to land. Are we enabling copy and paste of codes?

[2020-07-05 17:44] JuliannaR commented on #273
@jpeersoxd It

[2020-07-05 18:12] jrdpeers commented on #273
It seems the same to me as it’s an infinite load from that point. If dev disagrees I can open a new ticket but either way this needs attention

[2020-07-05 18:53] smcmurtry commented on #276
Sounds like a good plan @timarney @JuliannaR.

[2020-07-05 19:42] timarney commented on #273
If someone can verify this exist in the Google Play version we can have a deeper look.  I just want to take any variances out of the mix first.

[2020-07-05 20:24] jpeersoxd commented on #273
OK, I installed from the Play Store on an S20. After inputting my code, I see this:

<img width="340" alt="Screen Shot 2020-07-05 at 1 23 45 PM" src="https://user-images.githubusercontent.com/65189530/86541573-ce29cc00-bec2-11ea-9a75-11b22c7c52b4.png">

[2020-07-05 20:35] jeberhardt commented on #442
What's wrong with the solution in this PR?
https://github.com/cds-snc/covid-shield-mobile/pull/430

[2020-07-05 20:36] timarney commented on #273
I'm getting this - Android 9 . Moto G 8

<img width="400" src="https://user-images.githubusercontent.com/62242/86541753-6fbe1700-bedd-11ea-8907-578884b27c97.png" />

[2020-07-05 20:40] jrdpeers commented on #273
And after clicking on Agree it doesn’t go into a spin?

[2020-07-05 20:43] timarney commented on #273
| Enter a code   | 1    | 2    | 3    |   |
|-----------|------|------|------|---|
| Submit     | <img width="300" src="https://user-images.githubusercontent.com/62242/86541753-6fbe1700-bedd-11ea-8907-578884b27c97.png"> |<img width="300" src="https://user-images.githubusercontent.com/62242/86541823-08ed2d80-bede-11ea-8ff2-5216494f7573.png"> | <img width="300" src="https://user-images.githubusercon

[2020-07-05 21:07] katewilhelm opened #449 "Reduce the font size"
Body text should come down from its current 18 pt to 16 pt.

Heading text should also shrink by the same proportion. I'm not sure what the heading text sizes are in app, but they should end up being somewhere between 20 and 24 pt.

[2020-07-05 21:07] jpeersoxd commented on #273
I think I've finally tracked this down. The app is not working properly for me unless I update the Play Store version. Then I get the behaviour you see. We can close this.

[2020-07-05 21:12] katewilhelm opened #450 "Add item to shield menu "Get an 8-digit number""
If possible, it would be nice to get this in before launch, but it's not worth delaying launch to get it in.

Where this menu item goes to depends on what province the person has selected, and it will go the No number information accordingly
<img width="315" alt="Screen Shot 2020-07-05 at 5 09 25 PM" src="https://user-images.githubusercontent.com/57191279/86542303-9fbbe900-bee2-11ea-941e-f890bcf9d

[2020-07-05 21:15] #412 closed

[2020-07-05 21:16] timarney commented on #271
a) confirming the status gets updated

| Images    	| 1    	| 2    	| 3    	|   	|
|-----------	|------	|------	|------	|---	|
| Status    	|<img width="300" src="https://user-images.githubusercontent.com/62242/86542281-64211f00-bee2-11ea-94aa-e1f0ee14acda.png">	| <img width="300" src="https://user-images.githubusercontent.com/62242/86542279-64211f00-bee2-11ea-8545-3c5aab5cc12f.png"> 	| <img width

[2020-07-05 21:21] katewilhelm opened #451 "Switch order of onboarding screens so "Totally anonymous" comes before "What the app does not do""
This is another thing that is nice to have for launch but not essential. We want to switch the order to be:
1. Together, let's stop the spread
2. Totally anonymous
3. What COVID Alert does not do
4. How it works
5. The app will now ask your permission

Only the second and third screens need switching.
<img width="740" alt="Screen Shot 2020-07-05 at 5 16 50 PM" src="https://user-images.githubuserco

[2020-07-05 21:29] timarney commented on #271
@JuliannaR

Tested on play store version - it took me here

<img width="400" src="https://user-images.githubusercontent.com/62242/86542598-e4488400-bee4-11ea-9b8a-0439801ffd5f.png">

[2020-07-05 21:49] #273 closed

[2020-07-05 21:55] timarney commented on #271
@jpeersoxd can you confirm via a Play store install?

[2020-07-05 22:19] timarney commented on #271
Looks like it's still an issue.

![Screenshot_20200705-181346](https://user-images.githubusercontent.com/62242/86543393-01cd1c00-beec-11ea-8e39-6e9f2220f406.png)

[2020-07-06 00:08] JuliannaR commented on #449
@smcmurtry could you try to find time to get this one in, I think the font size might mean I need to relook through the whole app.

[2020-07-06 02:13] timarney commented on #449
https://github.com/cds-snc/covid-shield-mobile/blob/master/src/shared/theme/default.ts#L108

[2020-07-06 02:14] timarney commented on #449
Heading Text
https://github.com/cds-snc/covid-shield-mobile/blob/master/src/shared/theme/default.ts#L119

[2020-07-06 11:25] timarney commented on #374
@Stephen-PM

Given this is very reproducible - please drop a priority tag on this.

[2020-07-06 12:06] henrytao-me commented on #432
I am on it. 🙇

[2020-07-06 12:16] henrytao-me opened #453 "Update Android EN lib to listen to `ExposureNotificationClient.ACTION_EXPOSURE_NOT_FOUND` for no keys matched"
## What?

At the time of this issue, Android EN framework doesn't trigger broadcast receiver if there are no keys matched. Hence, the app is fall into pending state forever because it feeds keys to the framework in sequence.

Context from Andrew Google:
[code]

- This is official document https://developers.google.com/android/exposure-notifications/exposure-notifications-api#broadcast-receivers
-

[2020-07-06 14:53] obrien-j commented on #444
https://developer.apple.com/documentation/security/1399291-secrandomcopybytes

Always test the returned status to make sure that the array has been updated with new, random data before trying to use the values. For example, to create 10 random bytes:

[code]

[2020-07-06 14:58] obrien-j commented on #444
While our code mimics the example as provided by Apple, we don't handle the failure case at all, so would recommend either throwing an exception up out of the IOS layer (reject?)

I'm not sure how we could validate at the react layer that the buffer returned isn't a successful random value, as even an empty buffer would be feasible.

[2020-07-06 15:00] obrien-j commented on #441
Marking as Medium as this assumes full device compromise, which is likely a bigger problem.

Relatively easy fix though so will aim to get it fixed shortly.

[2020-07-06 15:03] obrien-j commented on #442
Bug came in before the PR.

dupe of #412

[2020-07-06 15:03] #442 closed

[2020-07-06 16:00] nickmly commented on #449
@katewilhelm Does this also include button text? Buttons are currently at 18px as well.

[2020-07-06 16:00] JuliannaR opened #457 "add alt text to splash screen"
ENGLISH ALT TEXT:

Illustration of 8 people enjoying a public space. There’s a person with a walking cane, a person in a wheelchair, a person wearing a hijab, several people of colour, and a representation of gender diversity.

FRENCH ALT TEXT:

Illustration de 8 personnes profitant de l’espace public. Il y a une personne avec une canne blanche, une autre en fauteuil roulant, une autre avec un hij

[2020-07-06 16:46] JuliannaR opened #459 "Turn off notification issue with EN notifications - Android"
If a user declines to turn on EN notifications in app on Android with a fresh install they may get a screen that disables the ability to turn notifications back on.
@smcmurtry is going to diverge from how IOS handles this to start the service when the app opens. Steve, If you have additional notes or need to clarify this issue please add to it.

![Screenshot_20200706-123425](https://user-images.gi

[2020-07-06 17:54] smcmurtry commented on #257
This should now be fixed. The logic that decides when to display the warning in the collapsed bottom sheet has changed. There used to be cases where it would show up in the expanded sheet, but not in the collapsed sheet.

There is a related issue where this content isn't updating as frequently as it needs to if you make a change via the settings screen. I will file an issue for that separately.

[2020-07-06 19:35] #449 closed

[2020-07-06 19:41] katewilhelm opened #462 "English app name and icon on French phone"
When a person's language setting on their phone is set to French, the app icon on the home screen still shows the name in English.
Also, the OS messages still use the English name when the phone is set to French. They should all have the French name

![IMG-0374](https://user-images.githubusercontent.com/57191279/86633737-09013200-bf9f-11ea-82be-d4626d8988bc.PNG)
![IMG-0377](https://user-images.git

[2020-07-06 20:17] jeberhardt commented on #410
I have made a PR that addresses a part of this ticket. If the configuration is unable to be downloaded or is non-parseable JSON, then the app will use either a configuration that is included with the app, or will use the previously saved (from download) configuration.

[2020-07-06 20:24] jeberhardt commented on #410
The next part of this is to verify that the downloaded configuration is indeed parseable as an ExposureConfiguration object and that the values within it are valid.

[2020-07-06 21:32] jeberhardt commented on #440
Looking to see if there's a React-Native solution for this, or if the solution needs to be iOS specific.

**fetch** does allow for headers to be set, and can use **{cache:'no-store}**.

[2020-07-06 21:57] katewilhelm opened #469 "Countdown of days for uploading should start at 13 days after the first upload"
After you upload random codes once, the app says you'll be asked for the next 14 days to upload your codes, but that should be 13 days.

This will also affect the text in the menu that currently says "X out of 14 days left!" (I'd like to change that text as well to "X days left!", but French is still coming.)

I'm not sure if there are other instances in the app that reference how many days left t

[2020-07-06 23:13] #432 closed

[2020-07-06 23:19] #287 closed

[2020-07-06 23:20] JuliannaR commented on #276
This is fixed in V18.

[2020-07-06 23:20] #276 closed

[2020-07-06 23:22] JuliannaR commented on #257
@mmiron-HC can you verify that this works for you now based on @smcmurtry comment above? I sent you the link for a playstore download of the app with our meeting invite.

[2020-07-06 23:28] timarney commented on #257
We need to push to the Play store again first :)

Plan to see this change first thing in the A.M

[2020-07-06 23:58] mtropper commented on #462
This isn't a development issue. The apps details haven't been entered into the Apple app store yet. There is a lot of content that is missing from the app store listing that will need to be completed before the app can go live, such as bilingual screenshots of the app and app store description etc.

[2020-07-07 00:03] mtropper commented on #462
I added the French title for the app but both English and French are missing the details of the app in both languages. I'd imagine its been planned to be entered once the app is ready to be released.

[2020-07-07 00:47] katewilhelm opened #470 "Add link to thank you screen for ON manual contact tracing form"
After a person in Ontario uploads their random codes, we need to update the thank you screen to include a link to the Ontario test results site. French isn't ready yet, but I'm creating the issue now so that the dev work can start.

People in Ontario will see a tip on the thank you screen. People outside Ontario or who haven't selected their province will not see a tip.

EN link https://covid19res

[2020-07-07 01:32] timarney commented on #459
Merged.

[2020-07-07 01:32] #459 closed

[2020-07-07 01:33] timarney commented on #271
@JuliannaR - this needs to be tested.

[2020-07-07 01:38] srepussard commented on #271
@timarney I can test this. Do we have a latest apk? or should I test via Play Store only

[2020-07-07 01:47] timarney commented on #271
Play Store please :)

[2020-07-07 04:58] jeberhardt commented on #434
We are using the `react-native-sensitive-info` package to store the keys generated by the `tweetnacl`.
https://github.com/cds-snc/covid-shield-mobile/blob/afb73c590737ca00fee5bea65b990a842bb783ed/src/services/ExposureNotificationService/ExposureNotificationService.ts#L170

The `react-native-sensitive-info` does use the iOS keychain to store the data. It uses the **SecItemAdd** method to store the

[2020-07-07 05:13] smcmurtry commented on #215
This looks like it is now fixed: https://youtu.be/qtn_GOXqXQ4. Not sure when that happened.

[2020-07-07 11:05] #469 closed

[2020-07-07 11:09] timarney commented on #410
First part is merged https://github.com/cds-snc/covid-shield-mobile/pull/463

[2020-07-07 12:28] JuliannaR commented on #215
@smcmurtry gestures now work throughout the app on IOS. :)

[2020-07-07 12:28] #215 closed

[2020-07-07 12:37] JuliannaR commented on #457
Temp closing this PR https://github.com/cds-snc/covid-shield-mobile/tree/splash-screen-alt-text
We will revisit for V2Launch conditions.

[2020-07-07 12:38] henrytao-me opened #472 "Prevent showing multiple notifications on iOS"
## What?

Reminder to upload new keys notification shows multiple times on iOS. It should be shown only once at a time.

[2020-07-07 12:39] jeberhardt commented on #435
We would need to either modify `react-native-sensitive-info`, the current package we are using, or replace the functionality with something that specifically uses Android Keystore. At the moment, `react-native-sensitive-info` uses a key to encode the data, but it's still stored in Shared preferences, and that's only on devices that support TouchID.

This might be a suitable replacement: https://gi

[2020-07-07 12:39] obrien-j commented on #437
I'm going to mark this one as low priority currently, as we enforce strong TLS/PFS on the server side. Y'all are welcome to investigate equivalent protections client-side as you see fit, but I'm not overly concerned as is.

[2020-07-07 12:41] jeberhardt commented on #411
This should be easy enough to implement. Here's a solution outlined, but it's only focused on iOS. Not sure if it would work for Android as well.

http://dbg.io/changing-your-preview-image-in-react-native-ios/

[2020-07-07 12:42] obrien-j commented on #433
I'm going to close this as 'wont fix', but @JuliannaR, if you don't mind, it may be worth opening a ticket that perhaps has a similar detection limit, and provides a more robust error message to the individual as to what they can do if they need help.

[2020-07-07 12:42] #433 closed

[2020-07-07 12:43] timarney commented on #281
@JuliannaR can you confirm this is still an issue?

[2020-07-07 12:45] JuliannaR opened #473 "Does not support landscape orientation [Global]"
This is a known issue for V1Launch. It will also be addressed in the Accessibility Statement.

Landscape orientation is currently disabled. @amazingphilippe this is something we should start considering sooner rather than later.

Success Criterion [1.3.4 Orientation (Level AA)](https://www.w3.org/TR/WCAG21/#orientation): Content does not restrict its view and operation to a single display orientat

[2020-07-07 12:49] jeberhardt commented on #445
I looked into this quite a bit yesterday, and was unable to determine exactly which component was unmounted and trying to update the state.

To replicate on Android:
- Launch the app, running in debug mode (ie: not an app from TestFlight or the Play Store)
- Navigate through the app to go to a few screens
- Press the **system** back button until the app exits
- Press the icon to launch the app aga

[2020-07-07 12:52] JuliannaR commented on #281
@timarney focus when loading this page is now with the first interactive element which in this instance is cancel. Two finger gesture reads content, left and right swipe move up and down starting with the header. This is fixed.

[2020-07-07 12:52] #281 closed

[2020-07-07 12:56] JuliannaR opened #474 "Splash screen to stay up for 4s"
Splash screen to stay up for 4s - technical concerns with doing this right now.

[2020-07-07 12:57] JuliannaR opened #475 "2 iconography updates exposure hand + uploading codes"
There are incoming updates to some exposure hand screens. @amazingphilippe and Eman are creating these.
When added we can close this issue.

[2020-07-07 13:01] JuliannaR opened #476 "New rectangular illustrations to be added in place of circle ones"
We have optimized the illustrations for the app. @amazingphilippe has the updates for this in figma.
Replacement illustrations exist for **onboarding flow** and **how it works** sections.

[2020-07-07 13:13] JuliannaR opened #478 "Back link changed from blue to grey"
The ‘Back’ link in onboarding and in ‘How it works’  are all faded grey rather than blue like other hyperlinks.
This should be changed to the blue found on the cancel links.

![Image from iOS (12)](https://user-images.githubusercontent.com/35537308/86786481-0f8cb980-c032-11ea-8212-4b233c86bd48.png)

[2020-07-07 13:16] JuliannaR opened #479 "On the province and language change pages the link to close / confirm says cancel"
The only option on pop-ups is to “Cancel” — when you change your province for instance, perhaps Cancel implies the change doesn’t apply? In Figma, it says “Close”
In these cases it needs to say close so that people know they change has been accepted.

![Image from iOS (13)](https://user-images.githubusercontent.com/35537308/86786868-7ad68b80-c032-11ea-8d25-692ab5fa68ad.png)

[2020-07-07 13:17] JuliannaR opened #480 "Missing bold text - to match figma"
Bold:

Nobody will get any information about you
Personne ne recevra d’informations sur vous

**Bold in Figma not yet applied in the app**
Not tell you in the moment / ne vous dira pas sur-le-champ - screen removed.
Will not tell you about outbreaks - screen removed
Does not use GPS / n’utilise pas le GPS - done
No way of knowing / n’a aucun moyen - done

[2020-07-07 14:03] henrytao-me opened #483 "Bring back "Clear exposure history and run check" option in Test Mode"
## What?

When pressing on `Clear exposure history and run check`, it will clear `lastCheckPeriod`, reset `exposureStatus` back to `monitoring`, and force fetching last 14 days keys from server again. This is handy for testing without having to uninstall the app or go through onboarding flow again.

[2020-07-07 14:16] obrien-j commented on #435
https://github.com/mCodex/react-native-sensitive-info/tree/keystore <-- the existing implementation appears to have a keystore branch, no statement of 'fit for purpose'.

Safe to assume this would require another OS prompt for to access they keystore yes?

[2020-07-07 14:17] obrien-j commented on #434
Marking as closed. Thanks.

[2020-07-07 14:18] #434 closed

[2020-07-07 14:22] henrytao-me commented on #474
I suggest to split splash screen to smaller pieces and use svg to speed it up.

[2020-07-07 14:30] obrien-j commented on #437
Marking as closed, as we've confirmed TLS cipher suites in place on the server side via Cloudfront and ALB tls/ssl directives.

[2020-07-07 14:30] #437 closed

[2020-07-07 14:33] henrytao-me commented on #445
`@react-native-community/netinfo` is the one causing the leak. Ref https://github.com/CovidShield/mobile/pull/139/files#diff-bb2a692e69dc457e8a5d5757bdaf9a3bR55

[2020-07-07 15:13] paulettefrancis opened #486 "List items are not read properly using iOS VO"
On the Privacy policy page, when swiping, the list items are read as "middle dot".

The bullet shouldn't receive focus or be read.

iPhone XR 13.5.1

[2020-07-07 15:16] timarney commented on #462
@katewilhelm

[2020-07-07 15:46] timarney commented on #476
@jelen-HC note there's an update coming for the onboarding - @henrytao-me will be making a PR this afternoon.

Please flag back to the team if you need anything to complete this.

[2020-07-07 15:54] #483 closed

[2020-07-07 15:57] henrytao-me commented on #336
Note: I didn't see same issue on my end. User can change notification priority if they want (see screenshots below). I suspect because the app notification is shown as NotificationCompat.PRIORITY_DEFAULT. It will be up to OS / default settings on device to group notification. This PR changes it to NotificationCompat.PRIORITY_MAX which makes sense because this is COVID-19 notification.

| ![image](

[2020-07-07 16:03] qanitah opened #488 "Focus doesn't go to top of the screen/page when COVID Alert menu is opened with VO"
With VoiceOver on, when the user double taps the menu, the focus is on "How it protects your privacy". It should be on top of the page. I tried it multiple times and it always goes to this which is the last item on the page.

Screenshot has From and To pages.

iOS 13.5.1 on iPhone 7

![image](https://user-images.githubusercontent.com/14280062/86809115-82edf580-c049-11ea-99d0-71386705a8bc.png)

[2020-07-07 16:43] JuliannaR commented on #488
@henrytao-me the focus should be on Diagnosed with COVID-19. When the sheet is collapsed focus should also be to the header in the page content.

[2020-07-07 16:45] smcmurtry opened #489 ""Notifications are off" warning not updating after changing permissions in settings"
iOS and Android

Steps to reproduce:
1. install app and answer yes to the "enable push notifications" popup
2. observe that the app does not display the "Notifications are off" warning
1. turn push notifications off in settings ("block all" on android)
2. go back to app
3. observe that the app does not display the "Notifications are off" warning
4. close the app from the task manager
5. re-open th

[2020-07-07 16:48] JuliannaR opened #490 "Design changes for release notes (carousel, step 1/6, fade footer, accessibility, icons, illustrations, feedback"
**Updates from our chats this morning:**

- We're reverting back to the carousel for the on-boarding screens (@smcmurtry will implement once the design is settled let us know)
- Adding step 1/6 as content on the page (Phil & I have worked out a simple design for this to appear above the titles)
- Adding a "fade" to the footer, to showcase the need to scroll for more content (devs to figure out bes

[2020-07-07 16:53] smcmurtry opened #491 "Split up all content with `\n\n` in the translation files"
Split up all paragraphs and lists in the app into separate `<Text>` elements, so they can be focussed separately with a screenreader. Anywhere we have `\n\n` in the translation files, we should either remove in favour of multiple strings, or split on the `\n\n` characters and programmatically split it into separate elements.

[2020-07-07 17:00] timarney commented on #490
Same?
https://github.com/cds-snc/covid-shield-mobile/issues/476

[2020-07-07 17:07] JuliannaR commented on #490
Yessum. This is the request you made to add this for release notes purposes.

[2020-07-07 17:08] #479 closed

[2020-07-07 17:11] #450 closed

[2020-07-07 17:28] timarney commented on #489
@henrytao-me this is that other issue I was describing this morning.

[2020-07-07 17:31] timarney commented on #271
Any updates on the testing end for this?

[2020-07-07 17:31] its-anirudh commented on #252
Hi @JuliannaR @mmiron-HC , I could not replicate this issue. The submit button gets activated only upon all the numbers being entered.

![image](https://user-images.githubusercontent.com/65962820/86819775-22b18080-c056-11ea-8b66-c479498e0efb.png)

![image](https://user-images.githubusercontent.com/65962820/86819838-352bba00-c056-11ea-82c4-2ea156f7d155.png)

[2020-07-07 17:32] jelen-HC commented on #476
@timarney Should I just leave this for Phil as it seems to be being handled in issue #490 with the updates there?

[2020-07-07 17:36] timarney commented on #462
☝️ noting this

@Stephen-PM

[2020-07-07 17:42] srepussard commented on #271
Unfortunately I couldn't test yet because I cannot get the latest app version from the Play Store :(

[2020-07-07 17:42] JuliannaR commented on #252
@its-anirudh did you test with android or IOS?

[2020-07-07 17:44] henrytao-me commented on #271
@srepussard Try these steps to get latest build on Play Store.

[code]

[2020-07-07 17:45] JuliannaR commented on #271
@henrytao-me This how worked for 3 of 7 people I've tried to help today. The rest are stuck with the June 25th version of the app. Any other thoughts?

[2020-07-07 17:47] timarney commented on #353
Can someone test this with the latest?

[2020-07-07 17:47] timarney commented on #351
Can someone test this with the latest (ideally on the play store version)

[2020-07-07 18:05] JuliannaR opened #494 "typo on privacy policy VO mispronounces it"
There's a typo on Privacy Policy page. "Your name or adress". A 'd' is missing in address so VO mispronounces it

[2020-07-07 18:33] obrien-j commented on #436
Pulling more concrete recommendations out of this.

Recommendations:
*  NSAllowsArbitraryLoads set to False (prevent HTTP requests.)
* Replace NSExceptionAllowsInsecureHTTPLoads localhost exemption with NSAllowsLocalNetworking key if this is required.

[2020-07-07 18:35] timarney commented on #490
Just pulling out dev tasks here

Looks like @amazingphilippe has self tagged on the rest

[2020-07-07 18:36] timarney commented on #490
@Stephen-PM can you add an example image here for  -> "Adding a "fade" to the footer"

[2020-07-07 18:40] its-anirudh commented on #252
Android

[2020-07-07 18:43] jeberhardt opened #497 "Missing iOS LaunchScreen images."
The 1x and 2x LaunchScreen images for iOS are missing.
<img width="888" alt="Screen Shot 2020-07-07 at 12 56 14 PM" src="https://user-images.githubusercontent.com/77435/86816586-fd227800-c051-11ea-943a-fb8c3d731f4e.png">

[2020-07-07 18:46] henrytao-me commented on #271
Ah. They also need to accept the new invitation for internal test https://play.google.com/apps/internaltest/4700071260798507505

cc @JuliannaR @srepussard

[2020-07-07 19:07] timarney commented on #497
@amazingphilippe ☝️

[2020-07-07 19:31] #472 closed

[2020-07-07 19:38] #451 closed

[2020-07-07 19:57] amazingphilippe commented on #390
Is it possible to design custom states for buttons in react native?

[2020-07-07 20:10] #494 closed

[2020-07-07 20:13] timarney commented on #390
We can try using
https://reactnative.dev/docs/touchablehighlight

[2020-07-07 20:14] qanitah opened #503 "Focus doesn't go to top of the screen/page for Enter your 8-digit number with VO"
With VoiceOver on, when the user goes to "Enter your 8-digit number", the focus is on "Submit" button. It should be on top of the page. Tried it multiple times and it always goes to this which is the last item on the page.

Screenshot below shows where the focus land for the VoiceOver user.

iOS 13.5.1 on iPhone 7

![image](https://user-images.githubusercontent.com/14280062/86837412-e0476e00-c06c-

[2020-07-07 20:14] jpeersoxd commented on #353
Installed the latest from the play store, and it starts up. Great!

[2020-07-07 20:15] henrytao-me commented on #490
The accessibility in carousel is fixed in How does it work screen. I will bring it to onboarding tomorrow morning.

[2020-07-07 20:22] qanitah opened #504 "2 finger swipe up to read full page not working with VoiceOver"
With VoiceOver on, when the user does 2 finger swipe up for this page, the focus stays on the COVID Alert image on top and the page is not read as its expected to.

Screenshot below shows where the focus stays and nothing is read/announced on the page.

iOS 13.5.1 on iPhone 7

![image](https://user-images.githubusercontent.com/14280062/86838298-fefa3480-c06d-11ea-9b69-01d04ae89baa.png)

![image](h

[2020-07-07 20:26] jpeersoxd commented on #351
This now starts up on Android 6.

[2020-07-07 20:35] qanitah opened #506 "List items are not read as list on "Get an 8-digit number" screen with VoiceOver"
List items are not read as list with VoiceOver.

The selected section in the screenshot is all read as one chunk together as normal text.

iOS 13.5.1 on iPhone 7

![image](https://user-images.githubusercontent.com/14280062/86839709-c5c2c400-c06f-11ea-9ff0-3c7833daeff0.png)

[2020-07-07 20:38] qanitah opened #507 "Focus doesn't go to top of the screen/page for "Now you can upload your codes" with VoiceOver on [Global issue]"
With VoiceOver on, when the user goes to ""Now you can upload your codes"", the focus is on last paragraph/sentence. It should be on top of the page. Tried it twice and the focus always goes to this area.

Screenshot below shows where the focus land for the VoiceOver user.

iOS 13.5.1 on iPhone 7

![image](https://user-images.githubusercontent.com/14280062/86840064-44b7fc80-c070-11ea-8efc-7dfe0586

[2020-07-07 21:15] timarney commented on #504
This is cause because the logo is a button for the test mode menu -

We're going to start pushing up builds without that menu on and this problem will go away.

[2020-07-07 21:18] timarney commented on #476
Yes - let's let @amazingphilippe drop them in.

[2020-07-07 21:19] timarney commented on #271
I pushed a new build about 1hr ago - I was able to pull down the latest

[2020-07-07 21:21] srepussard commented on #271
I could download the latest app ! Testing now...

[2020-07-07 21:28] srepussard commented on #271
Tested on Pixel 3A, Android 10, v25 : Passed
- Clicking on that "Push notifications are off" tile redirects user to the Covid Alert app settings

@timarney one quick question : after turning on push notifications from that screen and going back to the app, it seems that the new state is not directly updated. We still see "Notifications are off". We have to close the app and start it again to see i

[2020-07-07 21:31] timarney commented on #271
Think you just found this one.

https://github.com/cds-snc/covid-shield-mobile/issues/489

[2020-07-07 21:33] srepussard commented on #271
Yep that's exactly the same issue. I'll close this one as Done. Thank you everybody !

[2020-07-07 21:33] #271 closed

[2020-07-07 21:37] srepussard commented on #322
I'm re-opening this one.

Tested on Pixel 3a, Android 10, v25 : **Failed**
- the margin from the expanded menu has been fixed but not from the collapsed menu

![Screenshot_20200707-143505](https://user-images.githubusercontent.com/47008295/86846198-6ceb2f80-c05f-11ea-9ab4-94ec8547f7bb.png)
![Screenshot_20200707-143510](https://user-images.githubusercontent.com/47008295/86846201-6e1c5c80-c05f-11ea-

[2020-07-07 21:44] srepussard commented on #319
Thank you for the investigation. I'll edit the test cases to adapt to this behavior.

[2020-07-07 21:44] timarney commented on #490
@henrytao-me

@smcmurtry is going to do that tonight

[2020-07-07 21:46] #478 closed

[2020-07-07 21:47] smcmurtry opened #509 "Swap out Ontario guidance links"
This is so we don't link users to a page that asks for their location. Per Eman they should be:
en: https://ontario.ca/covidalert-exposed
fr: https://ontario.ca/covidalerte-expose

[2020-07-07 21:53] smcmurtry commented on #470
New design:
<img width="205" alt="Screen Shot 2020-07-07 at 3 52 57 PM" src="https://user-images.githubusercontent.com/5498428/86847679-f0aa1980-c069-11ea-8ed7-35cd654a5dfc.png">

[2020-07-07 21:54] #509 closed

[2020-07-07 21:56] srepussard opened #510 ""Share" random codes only results in "You did not give permission""
Environment :
Pixel 3a, Android 10, v25 from Play Store

Scenario :
- Navigate to "Enter your 8-digit number" screen
- Enter your code and submit
- Click on "Agree" at the "Now you can upload your codes" screen
- When popup "Share your random IDs" is displayed, click on "Share"

Expected :
User should be redirected to home screen "Thanks for helping fight..."

Issue :
Popup is displayed : "Random

[2020-07-07 21:59] JuliannaR commented on #504
Yes, this works if you deselect the COVID alert button. It won't be a button on release because its currently used to access the tester nav options.

[2020-07-07 21:59] JuliannaR commented on #503
@smcmurtry I thought we worked on a fix for this? Thoughts?

[2020-07-07 22:03] srepussard commented on #212
I confirm that the app has the rotation functionality off : turning the phone doesn't trigger the screen's rotation anymore

[2020-07-07 22:10] srepussard commented on #316
Tested on Pixel 3a, Android 10, v25 from Play Store : **Passed**
- Swipe functionality has been removed from onboarding screens so this issue is not happening anymore

[2020-07-07 22:14] srepussard commented on #321
Tested on Pixel 3a, Android 10, v25 from Play Store : **Passed**
- This has been fixed. "Fermer" is now replacing the arrow and the margin has been fixed

![Screenshot (Jul  7, 2020 15_13_21)](https://user-images.githubusercontent.com/47008295/86849472-9064a900-c064-11ea-8418-64940817d766.png)

[2020-07-07 22:14] JuliannaR opened #511 "Cannot unselect province in the choose a province screen or from the sheet menu"
Expected behaviour: To deselect by tapping the selected province.

![Image from iOS (53)](https://user-images.githubusercontent.com/35537308/86849377-9450f500-c07d-11ea-8620-7fbf4e956bcd.png)

[2020-07-07 22:16] srepussard commented on #272
Tested on Pixel 3a, Android 10, v25 from Play Store : **Passed**
- This has been fixed. The arrow is now replaced by "Close/Fermer" and the margin has been fixed so we don't accidentally click the bar anymore

![Screenshot (Jul  7, 2020 15_13_21)](https://user-images.githubusercontent.com/47008295/86849610-c99d1900-c064-11ea-9c53-1835394316c3.png)

[2020-07-07 22:18] srepussard commented on #209
Confirmed that the screen changed and the margin on the "Cancel/Annuler" link is big enough to avoid accidentally clicking on the bar

[2020-07-07 22:19] srepussard commented on #213
Confirmed that instead of just text, this is now replaced by a button

[2020-07-07 22:50] henrytao-me commented on #490
I see. 🆗

[2020-07-07 23:21] #470 closed

[2020-07-08 01:10] JuliannaR commented on #252
@mmiron-HC can you confirm if this is still an issue for you? - Thanks!

[2020-07-08 02:10] jeffmaher commented on #374
Happened again at 6:58p ET ish. I think debug/Sentry is now on, so perhaps there's more detail available. cc @jeberhardt

[2020-07-08 02:35] smcmurtry opened #517 "Make onboarding a carousel again"
Now that we have an accessible carousel, we can use it for onboarding again.

Designs:
<img width="158" alt="Screen Shot 2020-07-07 at 8 34 49 PM" src="https://user-images.githubusercontent.com/5498428/86868095-4f36be00-c091-11ea-894f-4449ab6815c9.png">
<img width="158" alt="Screen Shot 2020-07-07 at 8 35 07 PM" src="https://user-images.githubusercontent.com/5498428/86868115-5b228000-c091-11ea-8cb

[2020-07-08 02:54] srepussard opened #519 ""Turn on exposure notifications" tile is not redirecting when "Push notifications are off" is in the menu"
Environment :
Pixel 3a, Android 10, v25 from Play Store

Scenario :
- Install app but click on "Cancel" when prompted to turn on EN
- Home screen should have the "COVID Alert is off" screen
- Now go to your phone settings and turn off push notifications for the app
- Re-open the app
- Open menu, you should see a tile "Turn on EN" and a tile "Push notifications are off"
- Click on "Turn on EN"

Exp

[2020-07-08 02:55] srepussard commented on #519
From the same scenario, when back on home screen, the button "Enable COVID Alert" is also not redirecting anywhere. Please fix as well.

[2020-07-08 03:00] amazingphilippe commented on #490
Do we have such a page?

[2020-07-08 03:14] srepussard opened #521 "Android - Exposure Notifications needs Bluetooth and Location to work"
We found out that Android seems to have a different behavior than iOS about Location for EN to work. We always assumed Location is not needed and implemented the app around this assumption. We need to investigate this.

Google documentation here refers to turning on your phone's Location setting as the system uses this to scan for Bluetooth signals : https://support.google.com/android/answer/98883

[2020-07-08 04:47] Stephen-PM commented on #490
Here is an example of using a fade effect to give affordable that the content continues below the fold. I am not sure if we want it to fade above the footer or within the footer.
![E35987FC-D12D-4135-BBF1-F0AC0C523F85](https://user-images.githubusercontent.com/63243608/86877278-81a5e280-c0b4-11ea-8db6-208834f76650.png)

[2020-07-08 10:56] deandreleach commented on #507
#490 #521 #519 [GitHub](https://github.com/hakimel/Avgrund/blame/3ae7c75e6dbaa8ab6458e3b32bd03e4e955f7763/multiple.html#L8)

[2020-07-08 11:20] mmiron-HC opened #523 "Android on-boarding screens Step 2 doesn't match iOS on-boarding flow (Android 8)"
onePlus 3, Android v 8
app version - July 7 according to the GooglePlay store
Reinstalled app
Open app
Splash screen is displayed.
Step 1:  together, let's stop the spread of COVID-19 is displayed.
Step 2:
iOS  = totally anonymous
android  = What COVID Alert does not do.

according to Figma flow should be
![image](https://user-images.githubusercontent.com/65728700/86912593-4541a900-c0eb-11ea-9724-

[2020-07-08 11:44] mtropper commented on #462
@timarney @Stephen-PM I double checked the localization settings in the app, and the French  title has not been entered and the InfoPlist.string file needs to be created for the app to display name properly in French

[2020-07-08 11:57] mtropper commented on #523
@JuliannaR the screens match but the latest build for Android hasn't been released yet

[2020-07-08 12:21] JuliannaR commented on #523
@mtropper thanks! a new build for android is likely releasing today. @mmiron-HC we switched up the order of these screens in an issue yesterday. You will see the fix as soon as a new android version is released. https://github.com/cds-snc/covid-shield-mobile/issues/451

[2020-07-08 12:22] JuliannaR commented on #521
@Stephen-PM - is looking into this right now with folks at Google.

[2020-07-08 12:52] JuliannaR commented on #519
@smcmurtry is this part of the issue we were addressing with turning on the service?

[2020-07-08 12:55] JuliannaR commented on #234
@mmiron-HC can you confirm if this is still an issue? Phones have the ability to change font and size, we are hoping to ensure things work properly up to 200% font increase or zoom/magnification.

[2020-07-08 12:57] JuliannaR commented on #268
Crossing these issues. All lists should be coded as a list. I'm combining this into one issue.
https://github.com/cds-snc/covid-shield-mobile/issues/506
https://github.com/cds-snc/covid-shield-mobile/issues/486

[2020-07-08 12:58] JuliannaR commented on #486
Closing this to combine all list issues in one issue
https://github.com/cds-snc/covid-shield-mobile/issues/268

[2020-07-08 12:58] #486 closed

[2020-07-08 12:58] JuliannaR commented on #506
Closing this to combine all list issues in previously reported issue.
https://github.com/cds-snc/covid-shield-mobile/issues/268

[2020-07-08 12:58] #506 closed

[2020-07-08 13:20] mtropper commented on #510
@srepussard had you infected the phone already that day and were reinfecting the phone?

[2020-07-08 13:21] #475 closed

[2020-07-08 13:23] JuliannaR commented on #254
@mmiron-HC now that you are on the playstore install, using yesterdays version, can you confirm this is okay to close?

[2020-07-08 13:30] sarasuri opened #525 "Canada wordmark is not read by Talkback"
Samsung Galaxy J3 Prime
Android version 7.0

On the splash screen, no text alternative is provided for the Canada wordmark image as Talkback doesn't say anything.

Expected result
The text alternative for the image should be available.

WCAG
https://www.w3.org/WAI/WCAG21/Understanding/non-text-content.html

Screenshots
![splash](https://user-images.githubusercontent.com/12256067/86924567-a3778780-

[2020-07-08 13:39] #476 closed

[2020-07-08 13:44] #497 closed

[2020-07-08 13:57] srepussard commented on #510
I'm pretty sure this was a fresh install of the app

[2020-07-08 14:19] nickmly commented on #525
@JuliannaR is this a duplicate of #457?

[2020-07-08 14:21] JuliannaR commented on #525
Its the same issue, but its the watermark instead of the main splash image. We need to do some testing because the splash screen doesn't stay live long enough to listen to the alt text.

[2020-07-08 14:23] JuliannaR commented on #268
https://github.com/cds-snc/covid-shield-mobile/issues/258

[2020-07-08 14:23] JuliannaR commented on #258
I am closing this issue as we will address all list reading issues together here https://github.com/cds-snc/covid-shield-mobile/issues/268

[2020-07-08 14:23] #258 closed

[2020-07-08 14:26] timarney commented on #523
For line of sight we had to do a small patch for testing on iOS last night specifically.

Moving forward we'll be trying to get our release pipeline setup so these patch tests get directed to a few select people vs a larger release.

cc: @dsamojlenko

[2020-07-08 14:29] timarney commented on #511
@jelen-HC  -  the new on-boarding flow will be merged shortly.
CC:
@smcmurtry

[2020-07-08 14:42] #353 closed

[2020-07-08 14:42] #351 closed

[2020-07-08 14:49] obrien-j opened #527 "MOB-M-12: Downloads should have max size and timeout"
**Analysis of the Issue**
There are two things that the client might download: Diagnosis keys and ExposureConfigurations. When downloading there should be a maximum file size so we're not tricked into downloading a huge file (whether by misconfiguration or malice), there should be a timeout and possibly retry mechanisms so the app isn't waiting forever, and the contents of the download should be s

[2020-07-08 14:51] obrien-j commented on #527
Noting, my preference would be to push all network behaviour lower down into the native libs, but I'll leave that up to the team.

As it stands now, we'll have to solve in three places for things like certificate transparency filters, cert pinning, and enforcement of specific network security controls.

@jeberhardt already has fixes in for the exposureconfiguration validation process, although it

[2020-07-08 14:53] obrien-j opened #528 "BVC-108 :: Large invalid response data causes the app to crash with Out of Memory exception."
Application should be robust enough to handle large invalid data from a server, possibly a malicious server. Sending large response data of around 100MB in response to the  GET exposure-configuration request caused the android mobile application to crash with the following message being displayed to the user:

Could Not invoke FileReaderModule.readAsTextnull

Failed to allocate a 200000012 byte al

[2020-07-08 14:53] #528 closed

[2020-07-08 14:54] #517 closed

[2020-07-08 14:59] timarney commented on #511
@JuliannaR
@smcmurtry

Per
https://github.com/cds-snc/covid-shield-mobile/issues/249

These currently act like radio buttons

Would a flat list more appropriate here https://reactnative.dev/docs/flatlist

[2020-07-08 15:06] timarney commented on #408
Fixed here
https://github.com/cds-snc/covid-shield-mobile/pull/482

[2020-07-08 15:06] #408 closed

[2020-07-08 15:26] #503 closed

[2020-07-08 15:34] jelen-HC commented on #511
I have correct the issue for the current setup during the onboarding process. I am still sorting it out within the menu

[2020-07-08 15:37] JuliannaR commented on #511
@timarney, @jelen-HC  I think a flatlist would enable selecting and unselecting of the same element without needing a skip or undefined,

[2020-07-08 16:04] jelen-HC commented on #511
@timarney @JuliannaR The flatlist could work for selecting and unselecting of the same element, but you would need to essentially recreate a radio list to ensure only one element could be selected at a time or that a user wouldn't need to unselect an element to then select a different one.

I have set a ternary statement for the onboarding Region select that basically looks to see if the region an

[2020-07-08 16:09] #382 closed

[2020-07-08 16:09] jelen-HC commented on #511
That is currently what I had sorted out and testing for the onboarding region select, with me currently still working on the menu region select. I will dig into this further and the flatlist

[2020-07-08 16:14] qanitah opened #535 "Not all content read and displayed properly and incorrect focus location with TalkBack on"
When user goes to "Learn more about how it works" from onboarding screens, they are taken to "How COVID Alert works" carousel. There are a couple of issues with this with TalkBack on.

1. When "Read from top" from Global menu in the first screen (or swiping right item by item), all 4 screens are read one after another and Close and bottom is not read. It doesn't tell the user they're on which scre

[2020-07-08 18:14] mmiron-HC commented on #254
@JuliannaR this is no longer an issue now that we understand that Google has lumped the push notifications within its "Turn on exposure notifications" prompt. so it makes sense that iOS has two different messages when android only has one.

[2020-07-08 18:14] #254 closed

[2020-07-08 18:19] qanitah opened #542 "Reading order is incorrect on COVID Alert menu with TalkBack on"
With TalkBack on, the initial focus is at the COVID Alert menu at the bottom of the screen. It end up creating incorrect reading order. It's read as the 1st item on the page/screen when "Read from top" is selected in Global content menu. On iOS, it's the last item which is correct.

Android 8.1.0 on Samsung Galaxy
Android 10 on OnePlus 7

![image](https://user-images.githubusercontent.com/14280062

[2020-07-08 18:32] jeberhardt commented on #440
Re-opening since the PR was reverted.

[2020-07-08 18:40] jeberhardt commented on #441
Re-opening since the PR was reverted.

[2020-07-08 18:52] qanitah opened #544 "Focus is at incorrect location/space on COVID Alert menu with TalkBack on"
On Android with TalkBack on, "Close button" focus is lower than at the closing arrow on top for COVID Alert menu.

Android 8.1.0 on Samsung Galaxy
Android 10 on OnePlus 7

![image](https://user-images.githubusercontent.com/14280062/86958689-8efdb400-c12a-11ea-8549-1f8cc5932324.png)

[2020-07-08 19:17] nickmly commented on #535
Cannot re-create using latest version. I believe this was fixed in #496

[2020-07-08 19:21] sarasuri commented on #544
Samsung Galaxy J3 Prime
Android version 7.0

Same issue as mentioned above.

[2020-07-08 19:37] nickmly commented on #525
According to this: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/launch-screen

It seems like localized text on the splash screen is not possible on iOS, therefore we cannot do any alt text for it.

[2020-07-08 19:37] nickmly commented on #457
According to this: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/launch-screen

It seems like localized text on the splash screen is not possible on iOS, therefore we cannot do any alt text for it.

[2020-07-08 19:39] JuliannaR commented on #535
@qanitah this is fixed in the most recent update that came out just after noon today.
Here is a video of the experience in talkback from V28. https://drive.google.com/file/d/1mbD3j6im_zOwscpC0loeq5tqFp0qsUEw/view?usp=sharing

[2020-07-08 19:40] JuliannaR commented on #457
Lets close this for now and revisit if we need to find a solution re: watermark. https://github.com/cds-snc/covid-shield-mobile/issues/457#issuecomment-655715394

[2020-07-08 19:40] #457 closed

[2020-07-08 19:41] nickmly commented on #474
Flagging this: https://github.com/cds-snc/covid-shield-mobile/issues/525#issuecomment-655715166

[2020-07-08 19:42] katewilhelm opened #547 "Change title and icon on "All set" conditional screen for unsupported provinces"
For unsupported provinces, swap out the icon (tbd) on both All Set and No exposures detected variations to be more neutral.

Change the title in English and French to match the "no exposures detected" screen for unsupported provinces.
<img width="440" alt="Screen Shot 2020-07-08 at 3 21 04 PM" src="https://user-images.githubusercontent.com/57191279/86962569-2108bb00-c131-11ea-821e-be07a7feb92f.png

[2020-07-08 19:42] JuliannaR commented on #525
Lets close this for now and revisit if we need to find a solution re: alt text on splash screen. #457 (comment)

https://github.com/cds-snc/covid-shield-mobile/issues/525#issuecomment-655715166

[2020-07-08 19:42] #525 closed

[2020-07-08 19:44] sarasuri opened #548 "Content is not read in correct order with Talkback on after Done button"
Samsung Galaxy J3 Prime
Android version 7.0

On the on-boarding screen Step 6, after swiping right to each item to "Done" button at the bottom of the screen and if user continues to swipe to the right, Talkback starts reading from "New Brunswick" instead from the top of the screen.

Expected result
Talkback should read from the top of the screen after the "Done" button.

WCAG
https://www.w3.org/WA

[2020-07-08 19:46] JuliannaR commented on #343
@jpeersoxd is this still an issue?

[2020-07-08 19:47] JuliannaR commented on #237
this is the OS language setting.

[2020-07-08 19:47] #237 closed

[2020-07-08 19:59] #491 closed

[2020-07-08 20:13] sarasuri commented on #542
Samsung Galaxy J3 Prime
Android version 7.0

The same issue occurs on both COVID Alert is off/COVID Alert is active screens.
![menu](https://user-images.githubusercontent.com/12256067/86965657-e2c1ca80-c135-11ea-8578-d4f1c2578ee2.gif)

[2020-07-08 20:22] sarasuri opened #550 "Some content is not read by Talkback"
Samsung Galaxy J3 Prime
Android version 7.0

While Talkback is on, content "COVID Alert" receives focus; however it is not read by the screen reader on the COVID Alert is off screen.

Expected result
Talkback should announce it.

Screenshots
![menu1](https://user-images.githubusercontent.com/12256067/86966372-105b4380-c137-11ea-9759-9a27542dc41d.gif)

[2020-07-08 20:23] Stephen-PM commented on #462
I added the French app name onto both App stores.

[2020-07-08 20:40] sarasuri opened #551 "Not all content read on the menu screen with Talkback on"
Samsung Galaxy J3 Prime
Android version 7.0

Scenario to reproduce

While Talkback is on, using “Read from top” from “Global Context menu” or swiping right to move to each element on the COVID Alert menu screen, Talkback starts reading from the top of the screen. However, the screen doesn't scroll up automatically while Talkback is on. Talkback stops reading when it reaches what is visually displa

[2020-07-08 20:56] abuwaleed99 opened #552 "https://drive.google.com/file/d/1xCE7DSZvdRMaygDJZWJVSpBwVuPS1-x0/view?usp=drivesdk"

[2020-07-08 21:22] #462 closed

[2020-07-08 22:11] #444 closed

[2020-07-08 22:20] henrytao-me commented on #489
Close as done

[2020-07-08 22:20] #489 closed

[2020-07-08 22:25] #552 closed

[2020-07-08 22:29] katewilhelm opened #554 "Add screen for Android users with Location turned off"
If Location is turned off on an Android phone, [this documentation](https://support.google.com/android/answer/9930236?hl=en) says the app cannot work. We need to create a new Home screen to let people know the app is not working until they turn on Location. Right now, if you turn off Location after the app is installed, nothing happens in the app.
<img width="525" alt="Screen Shot 2020-07-08 at 6

[2020-07-08 22:31] JuliannaR commented on #554
@smcmurtry this is a release blocker. Can we prioritize getting these screens added re: location services?

[2020-07-08 22:43] jeberhardt commented on #410
The changes made do a significant amount to ensure a configuration was downloaded.

It throws any network errors, and it throws an error if the downloaded data is not parseable JSON.

The next steps will be to validate:
- that the JSON is a proper configuration,
- and that the values within the configuration are valid.

I believe we should close this ticket and create another one with just those 2

[2020-07-08 22:51] smcmurtry commented on #542
This is a tricky one - I'm not sure how to fix this. The focus order of elements is determined differently in Android vs. iOS. We can't manually specify the focus order on Android (like with `tabindex` on the web). This would take more investigation into how Android is determining the focus order and what we would do to change that.

[2020-07-08 23:03] timarney commented on #410
Discussed the above with @jeberhardt

The JSON config is served by us and needs Github review on our side if anyone is submitting a new config.

@obrien-j let's pick this up in another ticket as need be.

[2020-07-08 23:03] #410 closed

[2020-07-08 23:18] henrytao-me commented on #488
@qanitah @JuliannaR PR is up https://github.com/cds-snc/covid-shield-mobile/pull/557.

Questions, what element should we focus on when:
- App is opened.
- BottomSheet is opened. Will we force VoiceOver / TalkBack to focus every time BottomSheet is opened?
- BottomSheet is closed.

[2020-07-08 23:26] #507 closed

[2020-07-08 23:27] JuliannaR commented on #488
@henrytao-me when you close the shield focus should land on the header to give context to the user. Otherwise they start a various points in the content being displayed and its very disorienting.

[2020-07-09 00:22] timarney commented on #490
Going to close - this.

Talked to Eman - remaining item is "the fade" will open a new issue for that.

[2020-07-09 00:22] #490 closed

[2020-07-09 00:23] timarney opened #558 "Add a "fade" to the footer, to showcase the need to scroll for more content"

[2020-07-09 03:02] #547 closed

[2020-07-09 03:03] #558 closed

[2020-07-09 03:43] smcmurtry commented on #554
That is not a problem we are able to solve in the app. Because we don't have location permission, we don't know if it's on or off. It is up to android to solve this issue, this is what they're currently doing:

<img width="295" alt="Screen Shot 2020-07-08 at 9 42 10 PM" src="https://user-images.githubusercontent.com/5498428/86994559-ecfabd80-c163-11ea-91e9-712b9ba79a94.png">

If you set the app up

[2020-07-09 03:55] smcmurtry commented on #554
The case we could potentially do something about is:
- a person has location services turned off
- they install our app
- they get to the EN framework permission popup and say continue
<img width="261" alt="Screen Shot 2020-07-08 at 9 52 35 PM" src="https://user-images.githubusercontent.com/5498428/86995079-5c24e180-c165-11ea-9db8-f43d401fa6b0.png">
- they are then shown the "enable location servi

[2020-07-09 09:56] #511 closed

[2020-07-09 09:57] #504 closed

[2020-07-09 10:01] timarney commented on #393
@JuliannaR this should be re-tested if it hasn't been already.

[2020-07-09 10:07] timarney commented on #336
Merged - can re-open as needed.

[2020-07-09 10:07] #336 closed

[2020-07-09 10:13] timarney commented on #523
We're now at 1.0 (v20)

[2020-07-09 10:13] #523 closed

[2020-07-09 10:16] timarney commented on #453
@henrytao-me - feel free to re-open as needed.

[2020-07-09 10:30] mmiron-HC commented on #252
Using the OnePlus 3, the button looks disabled, however if I click on it it "thinks" and then prompts me with the Number not recognized prompt.
![IMG_1795](https://user-images.githubusercontent.com/65728700/87029109-ac279680-c1ad-11ea-989c-3fed4c71372e.PNG)
![IMG_1796](https://user-images.githubusercontent.com/65728700/87029120-b184e100-c1ad-11ea-8cfc-95437a0f788c.PNG)

[2020-07-09 10:32] henrytao-me commented on #453
Let's keep it open until we actually consume `ACTION_EXPOSURE_NOT_FOUND `

[2020-07-09 10:38] timarney commented on #252
Thanks for confirming.

[2020-07-09 10:47] mmiron-HC commented on #257
both messages now appear tested using OnePlus 3
![Screenshot_20200709-064537](https://user-images.githubusercontent.com/65728700/87030736-09bce280-c1b0-11ea-9397-9d3ff250e712.jpg)

[2020-07-09 10:47] #257 closed

[2020-07-09 10:57] mmiron-HC commented on #259
@henrytao-me  looks like it is working as expected now.

[2020-07-09 11:22] JuliannaR commented on #548
@sarasuri I can't reproduce this. Swiping right for me moves back to the header. Could you retest with the lastest update on Android and let me know if it's still an issue.

[2020-07-09 11:34] JuliannaR commented on #551
@smcmurtry @henrytao-me is this because of pageview vs scrollview?
I can access the content under this point with android but it requires swiping to the right vs. read all.

[2020-07-09 12:11] JuliannaR opened #563 "Focus when expanding and collapsing BottomSheet with VoiceOver and TalkBack"
**Scenario** to reproduce
When the sheet is expanded the focus follow the "COVID alert is active and jumps back to the bottom of the page view.
When the sheet is collapsed the focus has inconsistent positioning. It should orient people to the header or.

**Expected behaviour**
When BottomSheet is expanded, it should focus on first card header.
When BottomSheet is collapsed, it should focus on head

[2020-07-09 12:12] JuliannaR commented on #544
@qanitah and @sarasuri This issue has been grouped with focus related issues for the shield expand and collapse. https://github.com/cds-snc/covid-shield-mobile/issues/new

[2020-07-09 12:12] #544 closed

[2020-07-09 12:13] JuliannaR commented on #542
@qanitah I have combined the focus issues here https://github.com/cds-snc/covid-shield-mobile/issues/563

[2020-07-09 12:13] #542 closed

[2020-07-09 12:14] JuliannaR commented on #488
@qanitah I have combined the focus issues here https://github.com/cds-snc/covid-shield-mobile/issues/563

[2020-07-09 12:14] #488 closed

[2020-07-09 12:15] JuliannaR commented on #563
@henrytao-me @smcmurtry I've combined the focus issues here.

[2020-07-09 12:54] sarasuri commented on #548
@JuliannaR
Initially the focus is on the "Done" button and swiping right takes user to the top. However, if user swipes through to the Done button again and continue swiping right again from the "Done" button at that point it doesn't move back to the header.

[2020-07-09 12:57] qanitah commented on #268
List on "How to self-isolate" is not read as a list.

iOS 13.5.1 on iPhone 7
Android 8.1.0 on Samsung Galaxy

![image](https://user-images.githubusercontent.com/14280062/87042420-a8057400-c1c1-11ea-9c19-792b145fa9ec.png)

[2020-07-09 13:33] paulettefrancis opened #565 "Focus isn't where it should be on iOS using VO"
When you get to the Privacy policy page, using VO, the focus is on the heading but should be on "Close" as it is the first item on the page.

Tested using iPhone XR 13.5.1

[2020-07-09 13:34] mmiron-HC opened #566 "Link on Get an 8-digit number should go to the French site"
iOS iPhone XR (iOS language = FR)
following test case #52
Province = Ontario
COVID19 Exposure/Notifications/Bluetooth = on.
app language = French
version 30

from the menu, selected Obtenir un numéro à 8 chiffres
From the page titled the same Obtenir un numéro à 8 chiffres, clicked the aller sur le site des Résultats du test pour la COVID-19.
Browser is opened to COVID19results.ehealthontario.ca b

[2020-07-09 13:43] paulettefrancis opened #567 "Screen doesn't move when reading using VO"
With VO on, if I tap on "Tap for menu" (COVD Alert is off), and swipe, the screen doesn't move when the text "Push notifications...." is read.

Same thing happens on the "COVID Alert is active" page. The screen doesn't move and unable to read the rest of the page.

Tested using iPhone XR 13.5.1

![Screen](https://user-images.githubusercontent.com/22638158/87047353-65936580-c1c8-11ea-850b-7b3ea4ad6

[2020-07-09 13:43] its-anirudh commented on #252
So @timarney is this an issue ?

[2020-07-09 13:52] qanitah commented on #535
Yes these issues are all fixed. Closing this issue..

[2020-07-09 13:52] #535 closed

[2020-07-09 14:10] timarney commented on #510
Can you confirm what version of the EN Framework your using?

<img width="300" src="https://user-images.githubusercontent.com/62242/87050477-4e567700-c1cc-11ea-8825-622ec877790a.png">

[2020-07-09 14:12] timarney commented on #252
We need to determine - if it's an expired code or a bug.

Can you test on your end.  I can submit a code on mine.

[2020-07-09 14:35] nickmly commented on #510
I am getting the same thing with this version:
![Screenshot_20200709-102515_Google Play services](https://user-images.githubusercontent.com/5861415/87053441-f1f55680-c1cf-11ea-8e8d-a6bf2efb1d1a.jpg)

[2020-07-09 14:36] henrytao-me opened #570 "Push notification doesn't work cosistently"
## Potential issue with background tasks on iOS?

Test results Timeline:

2PM eastern July 7 - Emily's friends download the app onto their iPhones
6:45PM July 7 - Emily arrives at their house with "positive diagnosed" state on her Pixel
10PM July 7 - Emily leaves friends house
Night of July 7 - friends charge phone
Morning/Afternoon of July 8 - friends do not open app, do not recieve notification

[2020-07-09 14:44] mmiron-HC commented on #252
Note that this has nothing to do with the code. I enter none. I simply click on submit.

[2020-07-09 14:47] sarasuri opened #571 "Deselect state for province is not identified by Talkback"
Samsung Galaxy J3 Prime
Android version 7.0

With Talkback on, on the "Step 6: Where do you live? (optional)" screen, users double tap to select a province and when it is selected Talkback announces that it is selected. However, when users double tap on the selected province to deselect, it doesn't announce it is deselected but the check is visually removed. Users wouldn't know if it is deselected

[2020-07-09 15:19] mtropper commented on #234
The text seems to be considerably reduced.
![image](https://user-images.githubusercontent.com/52504483/87058417-0f2d2380-c1d6-11ea-92c1-3abf635c244e.png)

[2020-07-09 15:26] Stephen-PM opened #573 "Ensure that users cannot upload keys more than once per day"
With the latest changes that Max is making to the server in response to EN framework 1.5, we need to ensure that keys cannot be uploaded more than once per day.

The user should not be notified to upload keys if they have already uploaded keys on that day.

The user should not see the re-upload screen if they have already uploaded keys on that day.

[2020-07-09 15:31] sarasuri commented on #506
Samsung Galaxy J3 Prime
Android version 7.0

Talkback doesn't identify them as a list. It reads each item at a time as normal text.

[2020-07-09 15:40] JuliannaR commented on #519
@timarney are you looking to confirm the issue yourself or for followup?

[2020-07-09 15:41] JuliannaR commented on #510
@timarney @srepussard I know there were some issues around how many times you could infect a device. Max had some conversations about this and key data. I was not getting a version number at the bottom.

[2020-07-09 15:42] JuliannaR commented on #234
@mmiron-HC could you review please? Thanks!

[2020-07-09 15:42] JuliannaR commented on #343
@jpeersoxd is this still an issue?

[2020-07-09 15:43] JuliannaR commented on #393
@sidbmw is this still an issue?

[2020-07-09 15:44] JuliannaR commented on #565
@paulettefrancis we have a combined issue for focus issues. We are starting focus on the first heading of screens pending usability findings.
I've grouped this for follow up here: https://github.com/cds-snc/covid-shield-mobile/issues/563

[2020-07-09 15:44] JuliannaR commented on #563
Pending usability findings https://github.com/cds-snc/covid-shield-mobile/issues/565

[2020-07-09 15:44] #565 closed

[2020-07-09 15:47] qanitah commented on #571
Similar behaviour for iOS on iPhone 7. It announces 'selected' again with the province when user double taps to deselect the province with VoiceOver on.

[2020-07-09 15:49] JuliannaR commented on #563
this one too. https://github.com/cds-snc/covid-shield-mobile/issues/567

[2020-07-09 15:50] JuliannaR commented on #567
@paulettefrancis I have added this to a group of known issues across multiple screens in the app to address focus and reading order issues.
https://github.com/cds-snc/covid-shield-mobile/issues/563

[2020-07-09 15:50] #567 closed

[2020-07-09 16:08] sidbmw commented on #393
Do you have an apk I can test?

[2020-07-09 16:26] its-anirudh commented on #252
I think i know what the issue is...the submit button is still clickable when grey.

[2020-07-09 18:07] its-anirudh commented on #252
Pushed Pr

[2020-07-09 18:27] henrytao-me commented on #551
It's because of BottomSheet component that we are using. BottomSheet controls it own scroller which is not accessibility friendly. If we put a ScrollView inside it. It cannot scroll properly when there is screen reader.

[2020-07-09 19:15] JuliannaR commented on #551
@henrytao-me lets test out your solution.

[2020-07-09 19:49] amazingphilippe commented on #390
Looking into this, touchable highlight is also limited by opacity. We can't control individual color values of text and background.

Flagging that in react-native 0.63, the `Pressable`component seems like it can do wonders. @timarney
https://reactnative.dev/docs/pressable

[2020-07-09 20:40] henrytao-me opened #583 "useI18n hook causes `backgroundScheduler.registerPeriodicTask` calling twice in ExposureNotificationServiceProvider"
## What?

`useI18n` hook causes `backgroundScheduler.registerPeriodicTask` calling twice in ExposureNotificationServiceProvider. It should be called only once. Being called multiple times wouldn't cause big issues, except it would hit rate limit for `provideDiagnosisKeys` more quickly.

## Proposal
Look into how I18nManager is constructed and create a better version.

From below log, look like the

[2020-07-09 20:49] mtropper commented on #390
If this is an acceptable amount of fade, I can apply it in a matter of minutes.

![image](https://user-images.githubusercontent.com/52504483/87089252-25ea6f00-c204-11ea-8b62-8c6ef8257e52.png)

[2020-07-09 20:51] its-anirudh commented on #566
@timarney @JuliannaR @mmiron-HC eHealth does not provide a standalone French link. For this exact functionality it requires them to make changes to their site and we cannot do much on our end. However, the button to change language is pretty prominent so I cannot action anything at the minute

![image](https://user-images.githubusercontent.com/65962820/87089392-60540c00-c204-11ea-923e-55bdfc69b22d

[2020-07-09 21:13] JuliannaR commented on #390
@mtropper @amazingphilippe yes, just enough contrast!
<img width="716" alt="Screen Shot 2020-07-09 at 5 12 22 PM" src="https://user-images.githubusercontent.com/35537308/87091301-70211f80-c207-11ea-87a2-a37e7fe80a43.png">

[2020-07-09 21:19] #252 closed

[2020-07-09 21:30] JuliannaR commented on #551
Similar problem here: https://github.com/cds-snc/covid-shield-mobile/issues/550

[2020-07-09 21:30] JuliannaR commented on #550
@sarasuri I grouped this issue in https://github.com/cds-snc/covid-shield-mobile/issues/551

[2020-07-09 21:30] #550 closed

[2020-07-09 21:31] JuliannaR commented on #548
@sarasuri similar problem here https://github.com/cds-snc/covid-shield-mobile/issues/548
I've grouped them together.

[2020-07-09 21:31] #548 closed

[2020-07-09 21:32] JuliannaR commented on #268
@jelen-HC have you had a chance to look at this one?

[2020-07-09 22:13] katewilhelm commented on #554
Thanks for that info. I've redesigned the disabled screen to add conditional text for Android users. French is still to come, but here's English
<img width="203" alt="Screen Shot 2020-07-09 at 6 13 13 PM" src="https://user-images.githubusercontent.com/57191279/87096007-df9b0d00-c20f-11ea-9fc9-78a66ad1d580.png">

[2020-07-09 22:14] JuliannaR commented on #234
Thanks @mtropper. The text was changed on this screen to be shorter.

[2020-07-09 22:14] #234 closed

[2020-07-09 22:27] #571 closed

[2020-07-09 23:11] timarney commented on #510
@srepussard @nickmly I believe this is corrected now after a server update.

https://github.com/cds-snc/covid-shield-server/pull/158

[2020-07-09 23:11] jpeersoxd commented on #343
@JuliannaR I just checked this and still this issue.

[2020-07-10 00:03] #390 closed

[2020-07-10 01:13] timarney commented on #566
"Link on Get an 8-digit number should go to the French site"

@its-anirudh  > eHealth does not provide a standalone French link.

☝️

@Stephen-PM

[2020-07-10 04:29] srepussard commented on #510
Tested on Pixel 3a, Android 10, v33 from Play Store : **Passed**
- I confirm that this has been fixed. We are now redirected to "Thanks for helping fight..." screen

[2020-07-10 04:29] #510 closed

[2020-07-10 04:34] srepussard commented on #519
I tested again on Pixel 3a, Android 10, v33 from Play Store and I confirm that this issue is still reproducible

[2020-07-10 05:17] srepussard commented on #566
Additional note that this issue also happens for the "Test results website" link on the "Thanks for helping fight..."

[2020-07-10 05:34] smcmurtry commented on #573
I did the following experiment:
1. uploaded an 8-digit code and uploaded my keys at 10:31pm mountain time, July 9
2. added some console logs to the `calculateNeedsSubmission` code
3. hard-coded `const today = new Date(2020, 6, 10, 3);`, which would be July 10, 3am mountain time
4.   Observed the following logs:
[code]
and:
[code]

5. observed the "upload your data" screen
6. upload keys again

So

[2020-07-10 11:00] mmiron-HC commented on #566
@JuliannaR @timarney at this point it is in your hands. Let us know what the decision is as we will need to make sure the Test cases reflect this.

[2020-07-10 11:02] mmiron-HC commented on #252
Confirmed, the Submit button is now truly disabled.

[2020-07-10 11:04] mmiron-HC commented on #234
confirmed

[2020-07-10 11:37] #554 closed

[2020-07-10 11:48] #573 closed

[2020-07-10 12:16] henrytao-me opened #593 "Error code 10 when calling detectExposure on Samsung Tablet"
Tablet: wait for exposed notification => never receive. Some issue with the framework. It's return error code 10 when calling detectExposure https://sentry.io/organizations/canadian-digital-service/issues/1774528672/?project=5309250&query=device%3A%22SM-T387W%22.

## Environment:
Samsung Galaxy Tab A - SM-T387W - Android 9.

![image](https://user-images.githubusercontent.com/5274722/87153507-984f6

[2020-07-10 12:20] henrytao-me opened #594 "Background job never run successfully on Google Pixel"
## Environment

- Google Pixel 1
- Android 10
- Debug build with js bundle in it.

## Possible cause

Debug build might not be compatible to run in background for testing.

[code]

[code]

## Suggestion

Try release build with Sentry log.

[2020-07-10 12:23] henrytao-me opened #595 "Propose a better flow to handle async result from detectExposure on Android"
## What?

Calling `detectExposure` on Android doesn't return result immediately like iOS. Android needs to wait for result from Broadcast Receiver which could take a long time. In some cases, the app is closed before the receiver sends summary back.

[2020-07-10 12:30] timarney opened #596 "Fastlane config for limited access"
- missing keystore.properties file

Currently need:
```STOPCOVID_UPLOAD_STORE_FILE=```

[2020-07-10 12:57] henrytao-me commented on #551
Ref https://github.com/cds-snc/covid-shield-mobile/pull/576

[2020-07-10 13:01] emilykuret commented on #570
Updating experiment details and timelines:
July 9 - 3:45PM - Friend receives an exposure notification, logs were checked throughout the day, without Jeff opening the app, some logs had matched keys
July 9 - 5:30PM - Friend clears the logs, deletes the log and then reinstalls the app
July 10 - 12:08AM - Received another exposure notification

[2020-07-10 13:16] JuliannaR commented on #566
@mmiron-HC Ontario will not have a direct french link. People will navigate and need to use the french language toggle at the top of the page.
Closing this one. Thanks!

[2020-07-10 13:16] #566 closed

[2020-07-10 13:19] #563 closed

[2020-07-10 13:19] #551 closed

[2020-07-10 13:25] JuliannaR opened #600 "Focus state when pressed doesn't meet contrast on blue buttons"
Similar to this issue: https://github.com/cds-snc/covid-shield-mobile/issues/390

we used:

Touchable highlight is also limited by opacity. We can't control individual color values of text and background.

Flagging that in react-native 0.63, the Pressablecomponent seems like it can do wonders. @timarney
https://reactnative.dev/docs/pressable

![Image from iOS (68)](https://user-images.githubuserco

[2020-07-10 13:43] #600 closed

[2020-07-10 14:15] henrytao-me commented on #593
## Report:
- I couldn't find related thread mentioning about Error Code 10.
- I ask @dsamojlenko to build me a debug build so that I can see more logs in Android Studio but the debug build doesn't work for non whitelisted developer. I receive Error Code 17 with debug build which is `API_NOT_CONNECTED`.
- This is a tablet and the first time I see Error Code 10.

We can revisit later. I think it is

[2020-07-10 14:17] dsamojlenko commented on #596
Fixed in #599 and #603

[2020-07-10 14:17] #596 closed

[2020-07-10 14:33] obrien-j commented on #583
https://www.coronawarn.app/de/faq/#ENError13 <-- @henrytao-me just flagging this for visibility.

[2020-07-10 14:33] paulettefrancis opened #604 "Page is not readable as focus is in the wrong place using VO in iOS"
When you get to the 'COVID Alert is off' page, after selecting 'Don't Allow' from the Notifications popup window, the focus is at the top on the signal strength.

If I swipe up to read the page, it only reads what's at the very top (time, strength, Testflight, etc.) and doesn't read the page at all.

Tested on iPhone XR 13.5.1

![Focus](https://user-images.githubusercontent.com/22638158/87165741-8

[2020-07-10 14:34] nickmly commented on #519
Tested on Essential Phone, Android 10, v34. This is what happened:
- Installed app from Play store and hit 'Cancel' when prompted for permissions
- Closed app, turned off push notifications in settings
- Re-opened app, I was prompted for turning on EN
- Clicked 'Cancel' again
- Clicking on 'Turn on exposure notification' button does not do anything

I will look into this and see if I can get it to

[2020-07-10 14:35] qanitah opened #606 "TalkBack doesn't read full page by "Read from top" or by item by item on COVID Alert menu page(shield)"
With TalkBack on, when the user is either going item by item (right swiping) or by "Read from top" to read full page for the COVID Alert menu screen/page, the TalkBack stops at the bottom of the visual screen (even if most of the text is cut off). The page doesn't automatically scroll. The user has to scroll the page up first and then continue reading.

Also, if the user is at the bottom part of t

[2020-07-10 14:37] sarasuri commented on #268
Samsung Galaxy J3 Prime
Android version 7.0

On the "No reporting yet in your area" screen, similar behaviour that Talkback reads black circle and the text for the highlighted content in yellow not as a list.

[2020-07-10 14:40] mmiron-HC opened #607 "COVID Alert has stopped working - Android 8 (v33)"
One Plus 3 Android 8
App version 33 is installed
COVID 19 Exposure notifications are ON,
Notifications = On
Bluetooth = On
Entered a valid diagnosis code earlier this morning.

Left the app running in the background and left phone.
1hr or so later, returned to phone and had a message: COVID Alert has stopped. see image.
Was able to reproduce it 3x

![COVIDAlert has stopped](https://user-images.git

[2020-07-10 14:45] paulettefrancis opened #609 "Unable to use 2-finger swipe with VO on in iOS"
On the 'COVID Alert is off' page, after selecting 'Don't Allow' from the Notifications popup window, I'm unable to use the 2-finger swipe up to read the whole page.

Tested on iPhone XR 13.5.1

![Swipe](https://user-images.githubusercontent.com/22638158/87166982-52e96100-c29a-11ea-899c-18d5e4a31e93.jpg)

[2020-07-10 14:50] JuliannaR commented on #609
This is because the test menu is back for tester, we validated that this will not be a problem when the button for demos is removed.

[2020-07-10 14:50] #609 closed

[2020-07-10 14:55] nickmly commented on #606
Ref: #576

[2020-07-10 15:00] jelen-HC commented on #268
@JuliannaR there are major issues with how the content is structured in the app for the screen reader to read them off as lists. Additionally React Native does not have an accessibilityRole for lists or listItems from what I have researched, so trying to do this with plain text poses some major issues to provide this functionality.

[2020-07-10 15:26] JuliannaR opened #611 "unlock landscape orientation"
A not yet optimized experience is better than no experience at all. If orientation is locked to portrait the app would display sideways.
People with disabilities often mount devices or use tablet sized mobile devices with a fixed orientation.

[2020-07-10 15:47] JuliannaR commented on #606
@qanitah this issue will be fixed in the next build and has related issues you can find from Nick link above.

[2020-07-10 15:56] qanitah opened #612 "App keeps crashing in Android - "COVID Alert keeps stopping" OR "COVID Alert has stopped""
On Android 8.1.0 on Samsung Galaxy, just changed one or more things and went back to the app, the app had crashed with  message "COVID Alert has stopped". Happened every time for me (3 times just now). Used recents/app switcher to switch between apps.

On Android 10 on OnePlus 7, changed font size and display size and tried to switch back to the app and it crashed. Happens every time I try to chan

[2020-07-10 16:01] smcmurtry commented on #343
I tried to reproduce and I could not.

I tried on 2 phones:
Moto G3 on an older google play store build
Moto G4 Play with the latest version of master

G4:
1. opened the app and observed the "upload your data" homescreen
2. turned off bluetooth globally:
<img width="294" alt="Screen Shot 2020-07-10 at 10 00 57 AM" src="https://user-images.githubusercontent.com/5498428/87174349-43671980-c294-11ea-8

[2020-07-10 16:02] smcmurtry commented on #343
Could this be an APK issue? @jpeersoxd have you been able to reproduce this using a recent build from google play?

[2020-07-10 16:17] timarney commented on #343
Android 9.0

<img width="300" src="https://user-images.githubusercontent.com/62242/87175910-4ddede80-c2a7-11ea-9eb5-0964481d9bbc.png">

[2020-07-10 16:19] timarney commented on #343
@JuliannaR - if someone can test this against a Play store version that would help :)

[2020-07-10 16:32] JuliannaR commented on #343
I tested with an Nexus 6 and Android 8.1, I don't have an android 6 to test against though.

![Screenshot_20200710-123043](https://user-images.githubusercontent.com/35537308/87177311-7071f700-c2a9-11ea-8daa-0d58da9da48a.png)

[2020-07-10 16:53] jpeersoxd commented on #343
Yes, I tested this on a play store version. I used this link to get it: https://play.google.com/apps/internaltest/4700071260798507505. Is this the correct place to get it?

[2020-07-10 17:19] timarney commented on #343
I just pushed the latest
<img width="1041" alt="Screen Shot 2020-07-10 at 1 17 13 PM" src="https://user-images.githubusercontent.com/62242/87181207-e711f300-c2af-11ea-8b82-82a7ffbb557f.png">

[2020-07-10 17:24] JuliannaR opened #615 "Remove change language option from menu"
Please remove the change language option from the menu within the app.

It introduces problems with system level notifications vs. in app locations and now we released in french there are some pieces of the content not reading properly when switched in app but does read when switched at the system level.

[2020-07-10 18:06] mtropper commented on #615
@JuliannaR @timarney  Facebook changes language on the OS level as an app preference. I wonder if that is something we could implement for the Covid Alert app as well
![image](https://user-images.githubusercontent.com/52504483/87184727-833ef880-c2b6-11ea-9f2b-fa0b48bd2cc4.png)

[2020-07-10 18:13] JuliannaR opened #618 "Province flow and change province options - Add new option"
Can we revert the province radio button page back to standard radio buttons and add an option at the bottom?

English: Prefer not to say
French: Ne rien sélectionner

It will provide a better user experience if radio buttons behave in an expected way.

This needs to show up in the onboarding flow as well as in the settings to change your province in the shield.
![Image from iOS (13)](https://user-

[2020-07-10 18:16] mtropper commented on #615
@JuliannaR @timarney  The option is actually already there by default in IOS 13 we just need to have the language toggle link to this section
![image](https://user-images.githubusercontent.com/52504483/87185517-e5e4c400-c2b7-11ea-8a45-ad014f78eb5f.png)

[2020-07-10 18:16] JuliannaR commented on #604
This is because of the testflight demo menu.

[2020-07-10 18:16] #604 closed

[2020-07-10 18:24] sarasuri commented on #612
Samsung Galaxy J3 Prime
Android version 7.0

Similar behaviour happened. When try to switch between languages French and English the app has stopped.

[2020-07-10 18:27] mtropper commented on #615
How ever it only works in IOS

[2020-07-10 19:36] sarasuri opened #622 "Some text wrap with accessibility features on"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0

Accessibility features:

Settings - Accessibility - Vision - Screen zoom and Font – Screen zoom - changed to largest
Settings - Accessibility - Vision - Screen zoom and Font –  Font size - changed to Huge

When testing with some accessibility features on, some text wrap to the next line in French.
In addition, check mark used to i

[2020-07-10 19:59] JuliannaR commented on #622
Yes, this is okay. We need to meet 200% font increase or zoom without breaking to keep the design responsive. The app can move to between 500%-800% magnification currently.

![Image from iOS (57)](https://user-images.githubusercontent.com/35537308/87193187-277c6b80-c2c6-11ea-8761-59cf3fc8ab19.png)
![Image from iOS (54)](https://user-images.githubusercontent.com/35537308/87193174-20555d80-c2c6-11ea

[2020-07-10 19:59] #622 closed

[2020-07-10 20:25] #618 closed

[2020-07-10 23:56] smcmurtry opened #629 "Upload reminder notifications too frequent on Android"
To reproduce:
- submit an 8-digit number, agree to upload your data
- the next day at some point you will receive your 1st upload reminder notification
- dismiss the notification by swiping it away to the right
- do not upload your codes
- observe that you receive another notification in about 15 minutes, dismiss that and the cycle continues

We should enforce a minimum wait time in between these

[2020-07-10 23:57] #611 closed

[2020-07-11 00:06] timarney commented on #593
Will revisit this one later.

[2020-07-11 00:28] henrytao-me commented on #595
# Exploration summary:

## Existing flow from [react-native-background-fetch](https://github.com/transistorsoft/react-native-background-fetch) library

#### On Andorid:
- App is launched the first time.
- The app calls `BackgroundFetch.configure` and then `BackgroundFetch.scheduleTask`.
- The lib will schedule background job to run the app according to the configuration.

#### On iOS:
- App is lau

[2020-07-11 05:05] jeberhardt commented on #374
Haven't seen any logs in Sentry that point to this crash.

I was able to get the crash logs directly from Jeff's phone, and after some hunting around was able to get the dsym files required to desymbolicate the crash logs. I did spend a bunch of time trying to get the .app or .ipa files, but it turns out that you don't actually need those files to desymbolicate. I've attached the 4 crash logs.

It

[2020-07-11 10:48] henrytao-me commented on #594
Close as confirm background job runs as expected in production build. I was testing debug build before.

[2020-07-11 10:48] #594 closed

[2020-07-11 12:26] JuliannaR commented on #612
@qanitah and @sarasuri I am combining this request with @mmiron's. https://github.com/cds-snc/covid-shield-mobile/issues/607

[2020-07-11 12:26] #612 closed

[2020-07-11 12:27] JuliannaR commented on #607
On Android 8.1.0 on Samsung Galaxy, just changed one or more things and went back to the app, the app had crashed with message "COVID Alert has stopped". Happened every time for me (3 times just now). Used recents/app switcher to switch between apps.

On Android 10 on OnePlus 7, changed font size and display size and tried to switch back to the app and it crashed. Happens every time I try to chang

[2020-07-11 12:35] JuliannaR commented on #268
This content reads with two finger gesture, and left and right swipe. @qanitah and @sarasuri I'm wondering if there is a blocker for accessibility that they are not identified as lists in app.

It works well with spoken screen content. They are short and are visually presented as a list. Thoughts?

[2020-07-11 13:39] #629 closed

[2020-07-11 14:12] jelen-HC commented on #268
@JuliannaR I have the issue pretty much resolved at this point, I have basically just had to build this functionality in from scratch. The last section that I really need to finish up is the privacy policy - it needs to be converted to json as it will not work in its current form.

I will also need the French translation for:
- List Start
- List End
- Bullet

As I am not sure what this should actu

[2020-07-11 14:16] JuliannaR commented on #268
@jelen-HC thanks for the update. I've asked @EliseKa to confirm the translation for these.

[2020-07-11 14:33] jeberhardt commented on #374
The error code is 0x8badf00d (ie: ate bad food).

Here's a slightly outdated article that may shed some light on the issue: https://geek-is-stupid.github.io/2018-10-15-0x8badf00d-ate-bad-food/

[2020-07-11 18:16] JuliannaR commented on #268
@jelen-HC, Elise confirmed that it should be the following:

- Début de liste
- Fin de liste
- Puce

[2020-07-11 18:33] timarney commented on #607
Let's see what happens on

v43

There's a new option in the menu where you can type in a UUID for debugging.  If you can add a unique ID for that
value and also check that you have v43 version (you can now see it in the test menu at the bottom) that would be helpful.

<img width="300" src="https://user-images.githubusercontent.com/62242/87231171-c5357080-c382-11ea-9b0b-e94a8d275fcb.png">

[2020-07-11 18:44] timarney commented on #473
Landscape orientation is back on - it needs work but the device accepts it now.

[2020-07-11 19:18] timarney opened #637 "Ensure - fetch last 14 days"

[2020-07-11 19:23] timarney commented on #393
Please see this -

https://github.com/cds-snc/covid-shield-mobile/issues/607#issuecomment-657108583

There's a version # in the Test menu now.

[2020-07-11 19:53] #615 closed

[2020-07-11 19:55] timarney commented on #473
@JuliannaR thinking we should close this - and revisit all the sections in v2 as new issues.

[2020-07-11 19:56] timarney commented on #606
Closing this - as the PR was merged.  We can re-open as needed.

[2020-07-11 19:56] #606 closed

[2020-07-11 19:57] timarney commented on #521
@Stephen-PM any action to be taken here?

[2020-07-11 19:59] timarney commented on #71
Going to close this.  The team is aware and will reach as needed.

[2020-07-11 19:59] #71 closed

[2020-07-11 20:05] JuliannaR commented on #473
@timarney Yes, I'll break out new issues for V2 to address landscape orientation.

[2020-07-11 20:05] #473 closed

[2020-07-11 20:12] JuliannaR commented on #322
@amazingphilippe can you review this?

[2020-07-11 21:52] eljojo commented on #595
### For Option 2:
Would the timeout not apply if we used WorkManager? From the linked GH issue:

I agree that increasing the timeout is not a good idea, maybe it takes 30s in a good phone in good conditions, but if for decent hardware we're seeing issues, I'd assume minutes for lower-end phones on poor 3G.

### For Option 4
I am not really a react native dev, but I agree that option 4 makes a lot

[2020-07-11 21:58] henrytao-me commented on #595
@eljojo Thanks for the comments.

- Regarding option 2: that's what I am thinking. It's not an ideal solution.
- I would like to just go straight to option 4 (included option 1). Combining option 3 isn't a good addition as it introduces more fragment in the code.

[2020-07-12 01:10] henrytao-me commented on #453
Note: Google sample has `ACTION_EXPOSURE_NOT_FOUND` as well as new `getExposureWindows` https://developers.google.com/android/exposure-notifications/exposure-notifications-api#modes.

[2020-07-12 14:28] timarney commented on #607
If possible it would be very helpful to capture a bug report:

## Capture a bug report from a device

See: https://developer.android.com/studio/debug/bug-report

[code]

[2020-07-12 14:57] sidbmw commented on #393
![Screenshot_20200712-105147.jpg](https://user-images.githubusercontent.com/16989022/87249668-5a417380-c42e-11ea-8236-270d98e8c883.jpg)![Screenshot_20200712-105142.jpg](https://user-images.githubusercontent.com/16989022/87249670-5b72a080-c42e-11ea-9e76-43dbfe8ee634.jpg)

[2020-07-12 16:11] henrytao-me commented on #595
PR is up https://github.com/cds-snc/covid-shield-mobile/pull/640

[2020-07-12 16:33] timarney commented on #583
Looking at the logs could could we simply check on

[code]

I see it's false in the first log and true in the second.

[2020-07-12 17:23] Stephen-PM opened #642 "Stop doing 14/20 key checks on first use of app"
We are currently seeing either 14 or 20 checks in the setting->checks when a user installs the app and uses it for the first time. My understanding is that this is only useful if the user had previously had the app running on the phone and collected keys from encounters, uninstalled the app, then re-installed the app. Are there other reasons why we need this. @timarney @maxneuvians @obrien-j

This

[2020-07-12 17:44] henrytao-me commented on #595
Close as done. Tested with @timarney Let's see how it perform.

[2020-07-12 17:44] #595 closed

[2020-07-12 18:30] Stephen-PM opened #644 "Modify exposure notification guidance for Ontario"
Ontario will soon be providing clear guidance on the page we are linking to from the exposure notification screen, which conflicts with the guidance we are providing in app. We need to make the following changes to that screen for Ontario only:
- change the guidance text from "You’re at risk of being infected. Watch yourself carefully for symptoms, and consider self-isolating for 14 days." to "You

[2020-07-12 18:55] Stephen-PM opened #646 "input box is hidden by keyboard"
On iOS with large font the keyboard covers the input box. The user cannot see the number that they are typing in. The user cannot scroll to put the input box into view.

![image](https://user-images.githubusercontent.com/63243608/87254310-c385ae80-c44f-11ea-9ded-bccbbe504922.png)

[2020-07-12 19:57] Stephen-PM opened #647 "Add help link to menu"
Add a new menu item to the About COVID Alert sub-section on the menu.

· https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert/help.html

· https://www.canada.ca/fr/sante-publique/services/maladies/maladie-coronavirus-covid-19/alerte-covid/aide.html

![image](https://user-images.githubusercontent.com/63243608/87255430-aacdc680-c458-11ea-8ffc-47a6e02e781a

[2020-07-12 20:29] #637 closed

[2020-07-12 20:36] timarney commented on #393
Closing this - this can be expected outside of our test tracks.

[2020-07-12 20:36] #393 closed

[2020-07-12 20:37] timarney commented on #343
@jpeersoxd
v46 is available to test with

You should see the version in the bottom of the test menu.

[2020-07-13 11:50] timarney commented on #343
I tested 2 more devices fresh installs and landed on the BlueTooth screen - Android 9 +  Android 10

[2020-07-13 12:44] obrien-j commented on #436
Reopening for "NSRequiresCertificateTransparency".

[2020-07-13 13:08] obrien-j commented on #441
reopening as fix was only to RN.fetch, not okhttpclient.

Noting, this needs review to determine when/where we actually want to disable caching.

[2020-07-13 13:10] obrien-j commented on #440
Reopening as this was only fixed in RN.fetch , dropping to lowpri and removing v1launch until we can adequately confirm whether we want to cache the specific data being downloaded, which I believe is only downloaded diagnosis keys currently.

tangent: caching these keys would allow for potential interesting 'multi-jurisdisction exposure checks with different exposureconfiguration elements'.

[2020-07-13 13:28] henrytao-me commented on #607
@mmiron-HC

Did you just minimize the app or terminate it completely?

[2020-07-13 13:32] henrytao-me opened #651 "App crash after changing system font size"
## What?

App crash after changing system font size.

## How to reproduce?

- Open app.
- Minimize it.
- Go to system Settings, change front size.
- Use recent app switcher to switch back to the app.
- Expect app crashes.

## Reason

`react-native-screens` causes this issue.

[code]

[2020-07-13 13:34] henrytao-me commented on #607
Log an issue about crash after changing system font https://github.com/cds-snc/covid-shield-mobile/issues/651

[2020-07-13 13:47] sarasuri opened #652 "Word "Précédent" wraps in Android 7"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0
App version: 1.0 (46)
Language = French

After pressing "Suivant" button on the Step 1 and "How COVID Alert works" screens, text "Précédent" on the button wraps.

Expected result
The word shouldn’t wrap.

Screenshots
![step2-fr](https://user-images.githubusercontent.com/12256067/87311158-e1552100-c4ec-11ea-9413-ce1a029d07b5.gif)
![

[2020-07-13 13:55] jpeersoxd commented on #343
I'll pick up a Pixel 3a from our office this afternoon and have another
look -- will let you know.

Jim

On Mon, Jul 13, 2020 at 4:50 AM Tim Arney <notifications@github.com> wrote:

--
Jim Peers, Senior QA Engineer
jim.peers@oxd.com <youremail@oxd.com>
+1 604 761 4192

OXD
Make New Experiences Possible
OXD is an end-to-end design and technology consulting firm.
oxd.com

[2020-07-13 13:58] JuliannaR opened #653 "New splash screen"
@amazingphilippe @katewilhelm we are unable to have the splash screen load for very long for various reasons.
It is recommended that we have a transition screen before launching users into onboarding so that there is an orientation for all users. We were unable to verify with alt text the splash image or the canada.ca watermark for those technical constraints.

[2020-07-13 13:59] JuliannaR commented on #474
We are closing for this issue: https://github.com/cds-snc/covid-shield-mobile/issues/653

[2020-07-13 13:59] #474 closed

[2020-07-13 14:55] sarasuri opened #655 "No visual changes available on focus state/pressed for some buttons on Android"
Scenario to reproduce

Samsung Galaxy J3 Prime
Android version 7.0
App version: 1.0 (46)

For the buttons such as “Enter number”, “Next” there is no focus state indicator when touched. Also, when pressed to activate them no visual change for users to know that they pressed the buttons.

Expected result
Users should be able to see the buttons have focus and they are pressed from the visual change.

[2020-07-13 15:01] qanitah opened #656 "TalkBack focus at incorrect location (V46)"
When the user goes from Step 5 to Step 6 at on-boarding screens with TalkBack on, "Turn on COVID-19 Exposure Notification" pops up. When the user selects Cancel OR Turn on, the focus goes to Done at the bottom right the first time they come to this. When they go Back and come back to this page again, then it goes to top like it should. But sometimes it goes to Done. Tried is more than 5 times afte

[2020-07-13 15:14] obrien-j opened #659 "BVC-116 :: Use-after-Free in GetRandomBytes function (ios)"
Recent changes to CovidShield.m introduced a use after free in the getRandomBytes function.

buff is freed before a call to initWithBytes uses it to initalize a base64 encoded string of random bytes. buff should either be freed at the end of the function or after the call to initWithBytes and also in the case that SecRandomCopyBytes fails.

introduced here -> https://github.com/cds-snc/covid-shiel

[2020-07-13 15:45] JuliannaR commented on #655
@nickmly is this related to the touchhighlight fix for contrast?

[2020-07-13 15:57] amazingphilippe commented on #322
I cannot replicate on Pixel 2 device+emulator running android 10
I _can_ replicate on Pixel 3a emulator

Seems device specific and we should test more devices to gather more information

I can take a look

[2020-07-13 16:02] nickmly commented on #655
@JuliannaR I am unfamiliar with this issue, can you clarify?

[2020-07-13 16:06] JuliannaR commented on #655
@nickmly sorry, I mis-remembered you being on this. When you self assigned I thought you worked on the previous issue.
https://github.com/cds-snc/covid-shield-mobile/issues/600 is a closed issue that might have impacted this one.

[2020-07-13 16:18] nickmly commented on #655
@JuliannaR I see. This issue should not impact the fix for color contrast, it relates to the 'ripple' animation on Android that is not playing for some reason when focusing a button

[2020-07-13 16:23] sarasuri commented on #656
Samsung Galaxy J3 Prime
Android version 7.0
App version: 1.0 (46)

Similar issue on Android 7, the focus goes to "Done" button not to the top of the screen.

[2020-07-13 16:46] JuliannaR opened #662 "Share your random codes notification no longer appearing"
**Scenario**:
On subsequent days the notification for sharing your codes is no longer appearing in the screen flow.

**Expected Behaviour**
Every time you use the agree button you would receive the notification to share or not.

**Screenshot**
<img width="414" alt="Screen Shot 2020-07-13 at 12 39 35 PM" src="https://user-images.githubusercontent.com/35537308/87330509-ad86f500-c506-11ea-875e-1a92fa

[2020-07-13 16:49] henrytao-me commented on #662
The framework controls consent dialog. It keeps consent for 24h based on what I know. So, it won't ask user again for consent and will reset the next day (UTC timezone).

I would say it is not a bug.

[2020-07-13 16:52] JuliannaR commented on #662
Shouldn't it not ask me to reshare my codes for that window in that case? Or it will be out of sync often?

[2020-07-13 16:58] henrytao-me commented on #662
I think there are two different concerns:
- App asks user to upload new keys.
- Framework asks user for consent.

They shouldn't be tight together.

[2020-07-13 17:00] JuliannaR commented on #662
Thanks, I will close this out.

[2020-07-13 17:00] #662 closed

[2020-07-13 17:16] gavrix commented on #374
From my perspective 2 cents:
- all crash logs are watchdogs crashes because app took too long to launch. it means that execution from within `appDidFinishLaunchingWithOptions` did not return within 4.5s
- crash stacks show that actual block happens inside `[RNSplashScreen show]:
[code]
- in theory, js code is expected to call `SplashScreen.hide();` to unblock launch call and return to `appDidFinis

[2020-07-13 17:28] JuliannaR opened #664 "Better user experience re: when share your codes confirmation appears / how to confirm otherwise"
@emilykuret @Stephen-PM - We need define the acceptance criteria for uploading codes / confirming that they are uploaded

[2020-07-13 18:36] its-anirudh commented on #652
HI @sarasuri  I could not reproduce this issue. I set up a new device with the Specs matching the Samsung J3 prime (5.0 inches,Resolution | 720 x 1280 pixels). The word appears fine:
![image](https://user-images.githubusercontent.com/65962820/87340582-41ac8880-c516-11ea-872c-f250821cc172.png)

[2020-07-13 18:55] srepussard commented on #519
Tested on Pixel 3a, Android 10, v46 from Play Store : **Passed**
- This has been fixed

[2020-07-13 18:57] qanitah commented on #652
I get the same issue for Android 8.1.0 on Samsung Galaxy. Also attaching font size where it starts to wrap in.

![image](https://user-images.githubusercontent.com/14280062/87342366-1ecfa380-c519-11ea-9afc-5e5de72d910a.png)

![image](https://user-images.githubusercontent.com/14280062/87342393-2d1dbf80-c519-11ea-9826-3431f570e714.png)

[2020-07-13 18:59] its-anirudh commented on #652
Is this physical device or emulator ?

[2020-07-13 19:01] qanitah commented on #652
Actual device/phone.

[2020-07-13 19:04] sarasuri commented on #652
For Android 7 issue, it is actual device/phone as well.

[2020-07-13 19:06] #651 closed

[2020-07-13 19:07] henrytao-me commented on #607
@mmiron-HC @JuliannaR Can you please take another look? It should be ready in upcoming build > 46.

[2020-07-13 19:45] timarney commented on #607
I'll do another build tonight - so will be ready for another test in the morning.

[2020-07-13 19:57] #644 closed

[2020-07-13 19:58] #659 closed

[2020-07-13 20:23] emilykuret commented on #519
@srepussard I am still having this bug on my Pixel 2XL on V46

[2020-07-13 20:41] henrytao-me commented on #642
### Action items:

- [ ] Create new endpoint to fetch last 14 days (exclude today keys). Consume new endpoint on mobile which should be run only once after onboarding flow.
- [ ] Investigate why mobile makes 20 exposure checks instead of 14 after boarding flow. It could be related to this i18n issue https://github.com/cds-snc/covid-shield-mobile/issues/583
- [ ] Android only: add option in Demo Mo

[2020-07-13 20:46] #655 closed

[2020-07-13 20:56] #646 closed

[2020-07-13 21:03] #322 closed

[2020-07-13 21:36] timarney commented on #607
v47 should be available now.

cc: @henrytao-me

[2020-07-13 22:37] henrytao-me commented on #607
👍

[2020-07-13 23:35] its-anirudh commented on #652
@JuliannaR @sarasuri I have a potential fix, however the catch is that Progress circle start off slightly off center but once the navigation starts they set into place.

The screenshots are for the onboarding module, but it will be the same in 'How-to'. Please advise

1.
![image](https://user-images.githubusercontent.com/65962820/87363716-bf38be80-c53f-11ea-8605-386534ac1171.png)

2.
![image](http

[2020-07-14 10:55] timarney commented on #642
On an allow listed Android device I'm seeing 28 exposure checks which would seem to map back to #583

[2020-07-14 12:05] JuliannaR commented on #652
@amazingphilippe can you take a look here, I think we will want to avoid having the dots be off centre.

[2020-07-14 13:31] henrytao-me opened #673 "Exposure Status isn't persisted properly on iOS"
## What?

`notificationSent: true` supposes to be persisted after notification is sent for the first time. However, it isn't which causes notification is sent multiple times on iOS until user opens the app.

| ![image](https://user-images.githubusercontent.com/5274722/87431237-59d2e500-c5b4-11ea-9628-1fad5cc30d34.png) | ![image](https://user-images.githubusercontent.com/5274722/87431268-61928980-c

[2020-07-14 13:54] jpeersoxd commented on #521
Tested on Pixel 3a. Can confirm this is no longer an issue. @JuliannaR please close.

[2020-07-14 14:45] srepussard commented on #322
Tested on Pixel 3a, Android 10, V46 : **Passed**
- This has been fixed

![Screenshot (Jul  14, 2020 07_43_26)](https://user-images.githubusercontent.com/47008295/87439747-fc379c00-c5a5-11ea-9c76-a1bfa6b7bbdb.png)

[2020-07-14 14:46] qanitah opened #674 "Some area not scroll-able in landscape on iOS and Android"
The text seems to be on the left of the screen and there is empty space on the right. If the user tries to use the white space on right of the scrollbar, they're not able to scroll the page up and down.

Highlighted area in the screenshots is not scroll-able.
Android 10 on a large screen leaves a lot of space on the right. iPhone Plus might have similar issue.

Android 8.1.0 on Samsung Galaxy
Andr